[2018-05-24 11:05] VincentGuyader opened #3 "full package content is duplicated!"
the full package tree is copied above the package we create !

[2018-05-24 22:40] VincentGuyader opened #4 "replace `shinytemplate` or `shinyexample` by the choosen package name"

[2018-05-26 08:44] #4 closed

[2018-09-25 14:16] happyshows opened #6 "How to include global.R in run_app?"
Hi,

The [tutorial](https://rtask.thinkr.fr/blog/our-shiny-template-to-design-a-prod-ready-app/#disqus_thread) is not very clear.

Could you share how to include a global.R file in the template approach?

[2018-12-21 21:39] VincentGuyader commented on #6
hi, you dont need to use a global.R file.
put your function inside the R folder,
(if you realy want I suppose you can source your global.R from the server part)

[2019-02-13 08:02] dmenne opened #8 "Install fails: missing file"
RStudio on Windows

[code]

[2019-02-13 08:17] VincentGuyader commented on #8
Hi,

can you run `install.packages("attempt")` and `install.packages("yesno")` then try again ?

[2019-02-13 08:24] dmenne commented on #8
Yes, work. So some minor updates in description required.

[2019-02-13 08:40] dmenne opened #9 "add_module"
Most likely some reference to library(shiny) missing in default

[code]

[2019-02-13 16:23] VincentGuyader commented on #9
Do you still have this issue ?

[2019-02-13 16:27] dmenne commented on #9
Yes, but gave up, used manual creation of templates.

[2019-02-13 16:27] #9 closed

[2019-02-23 18:33] #6 closed

[2019-02-23 18:53] #8 closed

[2019-02-27 03:03] rpodcast opened #11 "Consider \dontrun for ui utils examples"
I am trying out `golem` on a new project and so far it's been fantastic!  As I was creating custom functions for my app (more for backend functionality) I documented examples and tested them out via `devtools::run_examples()`, and one of the built-in `golum` utility functions `tagRemoveAttributes` had an example that couldn't be run without error (something about missing the tags object).  I'd rec

[2019-02-27 09:11] VincentGuyader commented on #11
Hi,
I made some corrections. Can you confirm e that's ok now ?

Regards

[2019-03-01 00:52] selwyn-mccracken opened #12 "ShinyApps.io deploy error"
hi,

I get the following error from shinyapps.io after deploying a default golem test package with rsconnect::deployApp( ) :

The app builds, runs and previews perfectly on my local machine from Rstudio.

Here is my sessioninfo:

thanks.

[2019-03-01 03:57] rpodcast commented on #11
Just tried the new version and `devtools::run_examples()` reports no errors.  Thanks for the quick fix!

[2019-03-03 20:23] ColinFay commented on #12
Hey,

Thanks a lot for you feedback. There is a specificity in the way Connect & shinyapps.io handle the deployment, which do not allow the `run_app` wrapper we previously suggested.

This should have been fixed through the new elements pushed in commit #ebce32 — https://github.com/ThinkR-open/golem/commit/ebce326e03e9a6343515e31a58c49f85eac49b8c

The new generated rconnect file ends with `shiny::

[2019-03-03 20:25] ColinFay commented on #11
As it seems to be fixed, I'm closing this one. Thanks Eric for the feedback 💪

[2019-03-03 20:25] #11 closed

[2019-03-03 21:52] VincentGuyader opened #13 "favicon.ico seems corrupted on package creation"
![image](https://user-images.githubusercontent.com/10470699/53702416-f30dbb00-3e06-11e9-8d66-b5e52a150273.png)

[2019-03-04 01:23] selwyn-mccracken commented on #12
That works wonderfully - thank you very much.

Golem is set to be a permanent addition to our shiny app pipeline  😃

One minor thing I noticed is that the following error gets triggered for the golem default tests on the first build run, but seems to disappear after running the app for the first time(?).

Testing golemtest
√ | OK F W S | Context
√ |  1       | test-app
x |  1 1     | golem tests

[2019-03-04 15:20] ColinFay commented on #12
Hey,

Thanks for your positive feedback, glad to read you like `{golem}`!

The reason for this error is that for now you need to `devtools::document()` your package first in order to build your NAMESPACE (which is empty), but that might not be a perfect design choice.

I've changed this in #44c47f0 so that the NAMESPACE of the template is not empty, and then the tests should pass with the empty te

[2019-03-08 18:09] ColinFay commented on #12
Closing this one as it seems resolved.

Feel free to reopen if needed :)

[2019-03-08 18:09] #12 closed

[2019-03-09 10:37] ColinFay opened #14 "[Feature] add_js_file and add_css_file"
golem::add_js_file("name") would create a simple js file at the right place.

golem::add_custom_handler("name") would create a template for Shiny.addCustomMessageHandler

[2019-03-11 09:28] ColinFay opened #15 "[Feature] All creation file should check if file exists"
For example, `add_rconnect_file()` should check if the file exists, and override only if the user validate

[2019-03-12 07:37] #15 closed

[2019-03-13 18:08] R3myG opened #16 "remove use_utils_prod from documentation"
The function `use_utils_prod()` isn't in the package anymore and is still mentioned in the readme and the 01_start.R

[2019-03-17 04:14] rpodcast opened #18 "Make check_package_name optional when creating template app?"
Due to various "requirements" at the `$day_job` I have to use GitHub repository names that do not fit as a valid R package names to host my app's code (for example `AAA_ZZZ_myappname`).  I want to start using `golem` for these work apps, but when I try to create a new app in the local folder of said repository I am hit with an error when `check_package_name()` is run.  Since I won't be submitting

[2019-03-17 07:55] ColinFay commented on #16
Closed by PR #17

[2019-03-17 07:55] #16 closed

[2019-03-19 10:42] ColinFay commented on #18
Mmh, I'm quite torn on that request — in a sense, we're trying to promote good practices, so that includes valid package name. Leaving the ability to unknowingly create bad package name is IMO not the way to go.
On the other hand, it would make sense to be able to do what you are asking for.

I think the best way to achieve that is not to make it optional, but rather to check if the package name i

[2019-03-19 10:58] VincentGuyader commented on #18
using {yesno}  would not allow the use of the Rstudio human interface for creating the template...
I think we can use this instead :
`golem::create_shiny_template(check_name=FALSE)`

If you really want a valid name, use command line and use explictly `check_name=FALSE`

[2019-03-19 11:05] ColinFay commented on #18
Not sure what you mean by not allowing the use of the RStudio interface.

Tried here and asking yesno seems to be working :

![Screenshot 2019-03-19 at 12 03 33](https://user-images.githubusercontent.com/17936236/54601369-2f642c80-4a3f-11e9-934a-044a3b83c46a.png)
![Screenshot 2019-03-19 at 12 04 31](https://user-images.githubusercontent.com/17936236/54601370-2f642c80-4a3f-11e9-9630-ccf824cfa031.pn

[2019-03-19 11:34] VincentGuyader commented on #18
![image](https://user-images.githubusercontent.com/10470699/54602945-53297180-4a43-11e9-8ce2-240c95739d51.png)

[2019-03-19 11:51] ColinFay commented on #18
Still works even with the yesno :)
(there is currently another yesno in the package creation function ;) )

Anyway, to get back to the original question, indeed this shouldn't be something allowed without a conscious action of the user, and not something we should promote (don't do it unless you have a very specific reason to do it).

So the idea of doing `golem::create_shiny_template(path, check_

[2019-03-19 12:22] ColinFay opened #19 "Should the default Docker FROM be tidyverse ?"
The current implementation of the add_dockerfile() function does a `FROM rocker/tidyverse`, with no way for the user to change while the Dockerfile is generated.

The user should have a way to change a parameter here.

[2019-03-19 12:34] ColinFay opened #20 "remotes::install_cran doesn't work on old version of rocker/tidyverse"
When generating the Dockerfile, if I do it on my machine with R 3.4.4., the Dockerfile created do a `FROM rocker/tidyverse:3.4.4`. In this installation, `install_cran()` is not an exported function from `{remotes}`.

[2019-03-19 12:42] ColinFay opened #21 "base packages shouldn't be exported in the Dockerfile"
Current version of `add_dockerfile()` generates a line with `RUN R -e "remotes::install_cran('utils')" ` if you have utils in the DESCRIPTION, but one can't install recommended packages, so the build of this file fails.

[2019-03-19 12:46] ColinFay opened #22 "Remotes elements should be put into the Dockerfile"
By default, `{golem}` is used as a dependency to the created app.

But the `add_dockerfile()` function only parses the Imports from DESCRIPTION, so doesn't install Remotes elements

[2019-03-19 12:53] #19 closed

[2019-03-19 13:54] ColinFay opened #23 "Dockerfile should be deployment-platform specific"
The current `add_dockerfile()` function is shiny-proxy centric.

Building a Dockerfile for Heroku (for example), is not exactly the same as you need for shiny-proxy.

I feel like we should divide into several functions so that we can do `add_shinyproxy_dockerfile()` or `add_heroku_dockerfile()`

[2019-03-19 15:39] ColinFay commented on #21
Will use `dockerfiler::dock_from_description()` once the new version is on CRAN.

[2019-03-19 15:42] ColinFay commented on #20
`install_cran()` seems to appear in version 2.0.0 of `{remotes}`.

`dockerfiler::dock_from_description()` does an install of this version from github with the commit ref.

[2019-03-19 15:42] VincentGuyader commented on #21
or `attachment::att_from_description(field = "Imports")` ;)

[2019-03-19 15:59] ColinFay commented on #21
Mmh', as ˋutils` is listed in the Imports field of DESCRIPTION, it will still be listed in the  as an install_cran().

I was under the impression that att_from_description doesn't filter out base packages

[2019-03-19 20:33] #14 closed

[2019-03-19 21:05] rpodcast commented on #18
@ColinFay I like that approach.  It is a "niche" situation so I have no problem using the function directly to bootstrap the app.  I'll be glad to test once that optional flag is added.

[2019-03-20 07:49] ColinFay commented on #18
@rpodcast Implemented in #8008fcd :)

The only "issue" by doing it that way is that you need to manually navigate to the project. But it can easily be done through `rstudioapi::openProject()`

[code]

Let me know what you think.

[2019-03-20 08:05] ColinFay commented on #22
Handled by using `install_local()` on `app.tar.gz`

[2019-03-20 08:05] #22 closed

[2019-03-21 01:45] rpodcast commented on #18
Works perfectly for my needs!  My typical workflow in this situation is to set up an RStudio project (i.e. a generic new project) and then the function inside the project dir with `golem::create_shiny_template(".", check_name = FALSE)`. Appreciate the fix and this will play a key role in using `golem` for my production `$day_job` apps.

[2019-03-21 01:45] #18 closed

[2019-03-21 04:18] rpodcast opened #24 "Creating app template within desired path"
This may be another "niche" case but consider this situation I often deal with:

I use `packrat` to manage the package dependencies for any app that I want deployed to my `$day_job` internal Shiny server pro.  First I set up a version-controlled (git) packrat project, then install `shiny` and `golem`.  Within that app's project dir, I run `golem::create_shiny_template(path = ".", check_name = FALS

[2019-03-21 23:19] rpodcast commented on #24
I thought about this more on the :car: home and one approach might be to simply route the template files to a temp directory and copy them back to the current working dir, ensuring that the tmpdir path uses the same "destination" directory name as the current working directory.  I realize not many users will have to go through this so I'd be happy to contribute a PR to help.

[2019-04-04 16:31] ColinFay opened #26 "enable/reable from golem::js() don't work on selectInput"
[code]

[2019-04-07 14:10] #20 closed

[2019-04-07 14:15] ColinFay commented on #23
done in last PR

[2019-04-07 14:15] #23 closed

[2019-04-07 14:15] ColinFay commented on #21
Done in last PR

[2019-04-07 14:15] #21 closed

[2019-04-15 11:49] #13 closed

[2019-04-19 21:13] rpodcast opened #30 "How to enable bookmark restore?"
I am trying to implement Shiny's [bookmarkable state](http://shiny.rstudio.com/articles/bookmarking-state.html) feature in an app using `golem` and my only problem is with the restoring of bookmarks.  It's not clear to me how to get the `request` parameter necessary for the app's UI to be passed correctly to the downstream function creating the app UI.  The default function golem has for running t

[2019-04-23 19:13] yonicd opened #31 "add covrpage to coverage pipeline"
Is it possible to add {covrpage} to the code coverage pipeline in {golem}?

[2019-04-23 19:16] ColinFay commented on #31
I think it could either go there:
https://github.com/ThinkR-open/golem/blob/master/inst/shinyexample/dev/02_dev.R#L40
or there:
https://github.com/ThinkR-open/golem/blob/master/inst/shinyexample/dev/03_deploy.R#L5

[2019-04-23 19:18] yonicd commented on #31
in `02_dev` for sure.

practically it could also replace `devtools::test()` since that is run within `covrpage::covrpage()`

[2019-04-29 22:15] ColinFay opened #32 "tests: expect HTML"
Add a test that allow to compare a shiny element to a save HTML.

That would go:

[code]

[2019-04-30 11:54] #32 closed

[2019-05-14 15:19] chasemc opened #33 "shinyApp vs runApp"
First, awesome work! I've been referring a lot of people to this project.

I've adopted a slightly different take on your `runapp()` and was wondering if this could make your workflow shorter.

Instead of using `shiny::runApp()` I use `shiny::shinyApp`, thereby bypassing the need to create the app folder and underlying files.

example:
https://github.com/chasemc/IDBacApp/blob/b0897335e5f0f9fa1c7e3

[2019-05-15 22:14] VincentGuyader commented on #33
Thanks for your message

we had some internal discussion about using `runApp` or `shinyApp`. in some case using one instead of the other returns error and/or really tricky issue (when deploying using docker or shinyproxy like this issue on SO : https://stackoverflow.com/questions/53926718/problems-when-calling-an-external-program-from-r-in-docker ).

So I think thaht both solution are good dependi

[2019-05-16 17:27] rpodcast commented on #30
I forgot to update this, it turns out the issue was due to something else outside of golem's control, so I will close now

[2019-05-16 17:27] #30 closed

[2019-05-16 18:08] ColinFay commented on #30
That has been quite an easy issue to fix :D

[2019-05-16 21:40] riccardoporreca opened #34 "Simplify dock_from_desc?"
Is there a reason why we are installing (some of) the package dependencies with an explicit `remotes::install_cran()`
https://github.com/ThinkR-open/golem/blob/458ace8947be98674966ad9c3125bdf77ed7769c/R/add_deploy_helpers.R#L244
instead of getting this through the existing `remotes::install_local()`?
https://github.com/ThinkR-open/golem/blob/458ace8947be98674966ad9c3125bdf77ed7769c/R/add_deploy_he

[2019-05-17 05:41] ColinFay commented on #34
👋,

Thanks a lot for this comment! I'm very glad to hear you like `{golem}`, and thanks for providing feedbacks.

TBH this do reflects an internal discussion we had about what is the correct way to build a `Dockerfile` for a Shiny App. I think the answer very much depends on where you are in the DevOps cycle of the Shiny app. The way it is built today is more dev-oriented — by that I mean that it

[2019-05-17 06:14] ColinFay commented on #33
Hey,

Thanks for your message, and very glad to hear you like `{golem}` 💪

As Vincent pointed at, he came across some weird issues when deploying, and needed to use the `app/` structure you're describing.

Another argument against the current `runApp()` implementation is that is doesn't build on Shiny Server, as Shiny Server is calling a `runApp()`, and:

[code]

The workaround being:

[code]

But

[2019-05-17 13:17] riccardoporreca commented on #34
Thanks a lot @ColinFay for the great and complete reply, this is exactly the kind of discussion and I was aiming to trigger, getting the insights and reasoning behind the approach used in `{golem}`

I believe `{golem}` is a great way to attract the attention of people around the topic of packaging Shiny apps and their containerized deployment, and can be an excellent place to start discussing abou

[2019-05-18 09:47] cderv commented on #34
Great Discussion ! It may not be the perfect place but as you started the discussion, I schime in to share some thoughts.

About deployment with docker, specifically for dev workflow, I prefer the approach of using a package management tool (before {packrat} now {renv}) to separate the package management from the docker and gets closer to R project. This allows also deployment without docker and e

[2019-05-20 13:42] ColinFay commented on #34
@cderv thanks for the input! That's very enlightening.

I'd be very happy to read what you have in mind for a `{golem}` specific example — so that we potentially add that to the package :)

I was also thinking about how we could share the `{pak}` cache repository with the docker image, so that we can make the installation quicker. Though that wouldn't be project specific but would imply that all t

[2019-05-21 18:34] chasemc commented on #33
Those are interesting and I definitely forgot about having this problem on shinyapps.io.

More to the point:
Is there a benefit to having golem users go through the process of setting up `~inst/app` (excuse me if I missed the automation part of this) versus templating (runApp or shinyApp) for them as a function?

Like:

[code]

Similar to what you have already implemented here:

https://github.com

[2019-05-23 07:40] ColinFay opened #35 "golem::run_dev()"
Instead of having to manually source the `dev/run_dev.R`, we should write a wrapper function to do that.

It should take an argument to specify the file in case we have several run_dev.

Something like

[code]

[2019-05-24 08:40] ColinFay opened #36 "Handle cases when the app dir is removed"
The `add_*` files assume the inst/app/www hasn't been removed, and fails but still returns a `✔ File created at ./inst/app/www/on_launch.js`

[code]

We should :

+ [x] Check if the dir exists, and suggest to create it.
+ [x] Fail if we don't create it and it doesn't exist

[2019-05-24 08:41] ColinFay opened #37 "Allow for another folder in `add_*` functions"
Related to #36

The `add_*` function should have a parameter to create files in another folder.

Something like :

[code]

[2019-05-24 12:15] Cervangirard opened #38 "Add .rproj when using create_shiny_template"
Using the create_shiny_template function, there is no.rproj to create in the folder.

May be add :
[code]

[2019-05-24 12:28] Cervangirard opened #39 "run_dev for modules"
run_dev is a great tool. maybe we could use it for each module created with add_module, a run_dev_module :

Something like :
[code]

[2019-05-24 12:40] ColinFay opened #40 "Should add_rconnect_file() keep this name / Adding a more generic add_app_r()"
This can be used in many other places where you want to load your app from the source.

E.g shiny server, or even locally.

Though the messages and the comment on top are nice indicators, so maybe it should keep its name but be a wrapper to a more generic function?

[2019-05-29 15:00] ColinFay opened #43 "Add jq_hide to ui utils"
Small fn I've been using :

[code]

allows to hide an id at launch when used in an UI function

[2019-06-05 20:52] ColinFay opened #44 "secure_send_connect()"

[2019-06-05 20:53] ColinFay opened #45 "secure_send_connect()"
A function to securly send to connect and friends :

[code]

[2019-06-05 20:53] #44 closed

[2019-06-05 21:01] ColinFay commented on #45
Maybe we could define a level of "strictness" (wether it allow error / warning / notes) with `options("golem.check.strict")`

[2019-06-05 21:02] ColinFay opened #46 "browser_dev()"
[code]

[2019-06-06 06:26] ColinFay opened #47 "Bug in golem::add_rconnect_file()"
[code]

[code]

[2019-06-06 06:36] ColinFay opened #48 "Include the launch test in the recommended tests"
But we should make sure it's skipped on Gitlab / CRAN
And we need to test if it works on Travis

[code]

[2019-06-06 07:48] ColinFay opened #49 "Info about the package in options?"
We should have something like:

[code]

And it would be useful elsewhere, for example at https://github.com/ThinkR-open/golem/blob/master/R/add_files.R#L13

[2019-06-06 08:18] ColinFay opened #50 "See how we deploy golem on shinyapps.io"
The basic app.R from add_rconnect_file() fits for RStudio server but we need to check if it deploys well on shinyapps.io

Related to #40

[2019-06-06 08:19] ColinFay opened #51 "Start a wiki with resources"
à la [data.table](https://github.com/Rdatatable/data.table/wiki/Presentations)

The idea would be to gather inside a wiki page on the repo with

resources : (talk, blog post,...)
- get started with golem
- golem in the real world
- Advanced golem (not sure if there are any?)

Links to applications (publicly available) built with golem:
- links to deploy apps
- Links to repositories
Potentially the

[2019-06-06 08:32] ColinFay opened #52 "wrapper around session$sendCustomMessage("fonction", "reference_ui")"
`js_do` or something like that

[code]

[2019-06-06 08:35] ColinFay commented on #43
Should be a function directly (i.e not in utils ui)

[2019-06-06 08:35] ColinFay commented on #43
Should be a function directly

[2019-06-06 08:38] ColinFay opened #53 "Should the ui/server funs still be copied and paste?"
I feel like adding a ui and server utils file can be a little bit too much, as it adds files to the golem.

Maybe we should switch to a `golem::ui_*` list that contains the series of functions, à la `shiny::tags`

That way, we don't have to add an extra file, which can add little bit of extra noise on the long run if you don't use every utils function.

[2019-06-06 13:02] cderv opened #54 "Nicer error about package name restriction"
When using creation of the project in the IDE, with an invalid package name, I got this nice error
[code]
This is related to #18 as it can be created from commandline and this is not really an issue if you are well aware that a Golem Project is in fact a package Project.

However, I think that most users won't be aware of that directly. Me the first as I stumble upon during the workshop.

Should t

[2019-06-06 13:18] cderv commented on #54
And no @DianeBeldame I did not put dash (`-`) on purpose 😉  I just don't name project without them usually.  😀

[2019-06-06 13:40] cderv commented on #44
Is this really closed ? I can't find the feature in the 📦 ...  😉

[2019-06-06 13:46] cderv commented on #45
Just sharing experience: Checking is not always easy in offline and/or corporate environment. In our case, we need to run `devtools::check(cran = FALSE)` in offline environment. CRAN check are not useful if we don't plan to push into CRAN.

I think you should add the possibility to provide arguments to `devtools::check()` to provide for flexibility.

Also, if you don't know already, `rsconnect` as

[2019-06-06 19:47] cderv opened #55 "Idea : use expect_known_output"
Related to feature added in #32

Currently I see one drawback to the current function to test html: it will not handle encoding correctly because of readLines. Should not be a wide issue but could happen in some edge cases.

It made me think about `testthat::expect_known_output`. I think it could be useful : it writes result to file and compare then compare following test with this file. It seems

[2019-06-07 16:08] ColinFay opened #56 "Best practices for moving classical apps to golem"
Following a question during the shinydev series.

Would be nice to have written down somewhere what are the best practices for moving from a shiny app to a golem.

[2019-06-07 16:10] ColinFay opened #57 "CSS template for classical Shiny CSS elements"
Following a discussion during the ThinkR & RStudio Roadshow.

It would be nice to have a template that creates a ready to be filled css file for shiny and shiny dashboard.

[2019-06-12 10:02] ColinFay opened #58 "add_rconnect_file name"
Maybe we should rename `add_rconnect_file` => `add_rstudioconnect_file()` ?

[2019-06-12 10:05] #49 closed

[2019-06-12 10:14] ColinFay commented on #35
It now can use `getOptions("golem.app.name")`

[2019-06-12 15:56] VincentGuyader opened #59 "allow create_golem to create a golem in the current (empty) project"
`golem::create_golem(path=".",package_name="myapp")`

[2019-06-12 16:16] #36 closed

[2019-06-13 06:13] #46 closed

[2019-06-13 07:58] DianeBeldame commented on #54
Ok. I believe you @cderv....this time

[2019-06-14 07:24] #59 closed

[2019-06-14 08:08] ColinFay opened #61 "Build the package with usethis::createpackage"
instead of copying and pasting things

[2019-06-14 09:23] ColinFay opened #62 "fill_desc should not be empty"
Maybe something like, so we can cmd A cmd enter the all thing
[code]

[2019-06-14 09:26] ColinFay opened #63 "Add more info on package creation"
Not just the cat_rule("created")

[2019-06-14 09:29] ColinFay commented on #52
The function shouldn't test for %in% golem::js(), as it should be capable of invoking any js function

[2019-06-14 09:54] ColinFay opened #64 "use_recommended_dep should order dependencies"
[code]

[2019-06-14 09:57] ColinFay opened #65 "Warning w/ add_js_file"
[code]

[2019-06-14 09:57] ColinFay opened #66 "✔ File created at {where}"
[code]

[2019-06-14 10:04] ColinFay opened #67 "Add info about rsconnect::deployApp()"
If you have more than one account, it fails

[code]

[2019-06-14 10:28] ColinFay opened #68 "golem::activate_js() instead of golem::js()"
rename function

[2019-06-14 11:01] ColinFay opened #69 "add use_git() in 01_start.R"
Friends don't let friends forget version control

[2019-06-14 11:06] ColinFay opened #70 "favicon in 01 start should be valid"
So we can cmd A cmd Enter the whole script.

[code]

[2019-06-14 11:16] ColinFay opened #71 "It should be clear how we remove favicon"
Current process only explains how to change it, not how to remove it.

Maybe a simple "rm_favicon()" would work ?

[2019-06-14 11:21] ColinFay opened #72 "new and readme shouldn't open when running 01_start"

[2019-06-14 11:25] ColinFay opened #73 "Check if package is listed in DESC before calling usethis::use_package on it"
For example, when running the 01_start.R :

[code]

The `● Refer to functions with htmltools::fun()` feels noisy

[2019-06-14 11:33] ColinFay opened #74 "favicon fails if the path is the same as current"
[code]

That's bcs to and from are the same

[2019-06-14 11:36] ColinFay opened #75 "There should be an "open" argument to all add_* functions"
When creating modules with golem::add_module, there should be the possibility to prevent R from opening the file

[code]

[2019-06-14 11:36] ColinFay opened #76 "The use_package in 02_dev should be a working example"
Not "pkg"

[2019-06-14 11:42] ColinFay opened #77 "Adding JS files in 02_dev shouldn't conflict"
here :

[code]

[2019-06-14 11:43] ColinFay commented on #75
same goes for

[code]

[2019-06-14 11:45] ColinFay opened #78 "Explicit how to add js and css files after creation"
Only thing returned here is :

[code]

There should be a message explaining what to do next, like

[code]

[2019-06-14 11:53] ColinFay opened #79 "usethis::use_github() needed in 02.dev at Code coverage"

[2019-06-14 11:54] ColinFay opened #80 "Remove usethis::use_coverage() for now"
Bugging version right now :

[code]

Wait until the next release of usethis https://github.com/r-lib/usethis/issues/721

[2019-06-14 11:58] ColinFay opened #81 "Dockerfile should be buildignored"
`golem::add_dockerfile` should add Dockerfile to the buildignore (heroku and shinyproxy already do

[2019-06-14 12:08] ColinFay opened #82 "use_recommended_dep -> use_recommended_deps"
plural, to match use_recommended_tests

[2019-06-14 12:31] #52 closed

[2019-06-14 12:31] #58 closed

[2019-06-14 12:31] #62 closed

[2019-06-14 12:31] #64 closed

[2019-06-14 12:31] #69 closed

[2019-06-14 12:31] #70 closed

[2019-06-14 12:31] #74 closed

[2019-06-14 12:31] #72 closed

[2019-06-14 12:31] #76 closed

[2019-06-14 12:31] #77 closed

[2019-06-14 12:31] #82 closed

[2019-06-14 12:31] #80 closed

[2019-06-14 12:32] ColinFay commented on #79
closed in #625eafc2d6779858dd0963e06d12a9157f665b4e

[2019-06-14 12:32] #79 closed

[2019-06-14 12:36] #66 closed

[2019-06-14 13:27] ColinFay opened #83 "error with docker build"
`docker build -t aaa . `
has a
`CMD R -e "options('shiny.port'=80,shiny.host=0.0.0.0);aaaa::run_app()"`
so host is an unexpected numeric constant, should be "0.0.0.0"

[2019-06-14 13:49] ColinFay commented on #38
@Cervangirard that seems good to me on current version, do  you confirm ?

[2019-06-14 17:50] Cervangirard commented on #38
Yes sir !

[2019-06-14 18:25] #38 closed

[2019-06-14 19:53] ColinFay commented on #33
Ok, let me summarise things here.

## Three ways to launch a Shiny App

1. `runApp()` (current implementation of `{golem}`), which is `shiny::runApp(system.file("app", package = "aaaaaa"))`.

2. `shinyApp()`, which is `shiny::shinyApp(ui = app_ui(), server = app_server)` — created by `golem::add_rstudioconnect_file()`.

3. `shinyAppDir()`, which is `shinyAppDir( system.file("app", package = "aaaaa

[2019-06-14 20:42] ColinFay commented on #33
Oh, and I forgot, here are the session info.

Got them by adding :

[code]

#### Local :

[code]

####  Docker:

[code]

#### RStudio Connect

[code]

#### shinyApps.io

[code]

#### Shiny server :

[code]

[2019-06-17 20:39] #47 closed

[2019-06-18 06:31] ColinFay opened #84 "switch to shinyOptions"
We should use `shinyOptions()` / `getShinyOption()` instead of `options()` / `getOptions()`

[2019-06-18 19:44] ColinFay opened #85 "Use {config}"
Just dropping the idea there, we should use the `{config}` package to set `golem options` (for example behaviour on app.prod)

https://cran.r-project.org/web/packages/config/vignettes/introduction.html

[2019-06-18 19:47] cderv commented on #85
Yeah ! FWIW I am in favor of this ! 👍

[2019-06-18 19:50] ColinFay opened #86 "Find a consistent way to pass options to shiny app when using run_app (or others)"
Following https://github.com/ThinkR-open/golem/issues/33#issuecomment-502242160, I think me need to find a way to pass options to Shiny Apps consistently (globally, and locally from the run_app function, and it should work on all deployment strategies).

Ideally we would have a series of `golem_options`, `get_golem_options`, and maybe a `flush_golem_options`.

Not sure yet how it should be impleme

[2019-06-18 19:57] ColinFay commented on #33
For the record, I tried to switch to `shinyOptions` but got the same results

[2019-06-18 20:00] ColinFay opened #87 "vectorize `invoke_js`"
So we can

[code]

[2019-06-18 20:28] ColinFay commented on #33
Ok, finally found why the local options aren't possible with the current implementation — the run_app() function, in case of `runApp()`, launches the app and returns `shiny:::.globals$retval$value` with a running server, and strictly speaking run_app() is not exited yet as long as the shiny app is running.

With `shinyApp` and `shinyAppDir`, `run_app()` returns a `structure` of class `shiny.appobj

[2019-06-18 21:27] ColinFay commented on #33
Here's a hacky way to bypass this all :

[code]

Then

[code]

I'm a little bit torn about this idea though.
+ First of all, it should be assigned in `{golem}`
+ This is definitely not thinkable for local use — friends don't let friends assign thing in the namespaces of local packages. So let's keep current implentation with runApp for local use.
+ Though, if we consider deployment in prod, this s

[2019-06-18 22:06] chasemc commented on #33
That's awesome work.

I'm still a little confused about your distinction between local and global variables.

It looks like you use `.Options` for both; and I'm curious about the option of storing it an environment instead? This could be used for both "global" and "local"?
[code]

Also, could you zip and attach the `aaa` app to a comment?

[2019-06-19 06:09] Cervangirard opened #88 "fill_desc pkg_name doesn't work"
You can't change the name of your pkg with fill_desc, maybe we don't need the pkg_name parameter for fill_desc.

[2019-06-19 06:58] ColinFay commented on #33
Thanks for your feedbacks :)

Sorry if everything is not cristal clear. FWIW I'm writting a blogpost right now that will sum up this all thing more clearly (I hope).

You can find the `{aaaa}` package there : https://github.com/ColinFay/golem4bench — it contains the dockerfiles and instructions to deploy.

Global options are the one defined outside of `run_app()`, local options are the one defined

[2019-06-19 07:01] ColinFay commented on #88
This should be handled there : https://github.com/ThinkR-open/golem/blob/master/R/desc.R#L33

[2019-06-19 07:03] ColinFay commented on #88
Indeed, there's something forgotten here  https://github.com/ThinkR-open/golem/blob/master/R/desc.R#L33

Can you add this ?

[code]

[2019-06-19 07:04] ColinFay commented on #88
(sorry, closed by mistake)

[2019-06-19 07:12] ColinFay opened #89 "Put clearer (red dot ?) alerts when the user has something to change (a la usethis)"
For example, the grey here is a little bit too clear. A red dot / square should do the trick.

<img width="525" alt="Screenshot 2019-06-19 at 09 09 12" src="https://user-images.githubusercontent.com/17936236/59744158-3d119400-9272-11e9-80a2-bbb41413f418.png">

[2019-06-19 11:14] ColinFay commented on #33
Ok folds, I got this :

[code]

Allows to use global options and to pass arguments to run_app that can be retrieved with get_golem_options(), and works everywhere 🤘

[2019-06-26 21:10] ColinFay commented on #88
good by now

[2019-06-26 21:10] #88 closed

[2019-06-26 21:11] ColinFay commented on #84
Nop

[2019-06-26 21:11] #84 closed

[2019-06-26 21:12] ColinFay commented on #50
good by now, see #33 and upcoming blogpost on rtask

[2019-06-26 21:12] #50 closed

[2019-06-26 21:13] ColinFay commented on #86
Done with last version (0.0.1.7000). No flush options so far, but the run_app is done `with_golem_options`, which can be retrieved with `get_golem_options` from inside the app

[2019-06-26 21:13] #86 closed

[2019-06-26 21:14] #40 closed

[2019-06-26 21:14] ColinFay commented on #40
three functions to add content to RStudio products

[2019-06-27 08:21] ColinFay opened #93 "Update README"

[2019-06-27 08:21] ColinFay opened #94 "Update Vignettes"

[2019-06-27 09:39] #43 closed

[2019-06-27 11:11] Cervangirard commented on #65
showWarnings = FALSE ? or we need more ?

[2019-06-27 12:11] #75 closed

[2019-06-27 12:19] ColinFay commented on #65
Mmh, I think the best way we could do this is setwd() into www and create the file and setwd() to old on exit

just like https://github.com/ThinkR-open/golem/blob/master/R/use_utils.R#L29

[2019-06-27 20:54] #83 closed

[2019-06-27 21:14] ColinFay commented on #33
I'm closing this one, as it seems solved to me.

Read https://rtask.thinkr.fr/blog/shinyapp-runapp-shinyappdir-difference/ for more information.

Feel free to reopen if ever you feel like this issue is not over :)

[2019-06-27 21:14] #33 closed

[2019-06-27 21:33] #37 closed

[2019-06-27 21:41] #87 closed

[2019-06-27 21:42] ColinFay commented on #87
With version >= 0.0.1.7050

[code]

[2019-06-28 12:38] #71 closed

[2019-06-28 12:47] #73 closed

[2019-06-28 12:52] cderv opened #96 "Add a . to Description if sentence not complet"
[code]

There is just a `.` missing. It is easy to add it, but also easy to forget.
[code]
why not add it if missing ? I think it is easy with a small grep to add one if not found.

[2019-06-28 12:53] #68 closed

[2019-06-28 12:58] cderv opened #97 "idea : make possible to init a git repository in project template"
I wonder if it would be possible to have a box in project template to init a git repository when creating a golem.
It would be like in New RStudio Project template pane, with a checkbox for that.

I guess it is related to the choice in #69 .
Did you already tried ?

[2019-06-28 13:02] cderv opened #98 "in 01_start.R, move use_git up"
Why don't moving up `usethis::use_git()` ?

I does not matter a lot but `usethis::use_news_md( open = FALSE )` is just above
https://github.com/ThinkR-open/golem/blob/6e7c1b312cdf33d36c8913eec5ac5c90cf3ed6b3/inst/shinyexample/dev/01_start.R#L34-L35

and give this message
[code]
At least, putting `use_git()` just before would prevent this message.

[2019-06-28 13:09] cderv opened #99 "in 01_start.R, give incitation to name DATASET"
[code]
will default to a name DATASET

do you think it could be helpful to suggest to change the name of the dataset by

* indicating the default `usethis::use_data_raw( name = "DATASET", open = FALSE )`
* suggesting to change `usethis::use_data_raw( name = "my-dataset-name", open = FALSE )`

❓

[2019-06-29 07:11] VincentGuyader commented on #99
hi, good idea.

I dont like the capital letters name "DATASET.R" so maybe :

`usethis::use_data_raw( name = "my_dataset_name", open = FALSE )`

[2019-06-29 08:32] ColinFay opened #100 "Condition the yes no for interactivity"
When in bash

[code]

[2019-06-29 08:33] ColinFay commented on #24
@rpodcast can you still reproduce this behavior?

[2019-06-29 08:37] ColinFay opened #101 "Add overwrite arg to create_* and add_* function"
Default to FALSE.

Will allow to override the folder / file through command line without the yesno.

Related to #100

[2019-06-30 13:59] ColinFay commented on #65
Still there if creating file and dir already exists

[2019-06-30 19:25] #65 closed

[2019-06-30 20:40] ColinFay opened #102 "Bug when using full path as directory to add_*"
Due to

[code]

And

[code]

[2019-07-01 07:19] ColinFay opened #103 "create_golem paths should be returned as normalized"
[code]

[2019-07-01 09:14] ColinFay opened #104 "Add a golem.talkative option"
So that `{golem}` doesn't print information messages

[2019-07-01 10:00] #102 closed

[2019-07-01 10:25] #99 closed

[2019-07-01 10:25] #48 closed

[2019-07-01 10:26] #67 closed

[2019-07-01 10:27] ColinFay commented on #67
Most cases are handled through blue button.

Command line deployment users should refer to `rsconnect::deployApp`

[2019-07-01 10:37] #93 closed

[2019-07-01 10:50] #78 closed

[2019-07-01 12:49] cderv commented on #99
Thanks !

[2019-07-01 14:13] ColinFay opened #105 "Explicit that you should upload the whole folder on RStudio products"
In the app.R, it should be clear that you need to upload the whole thing

[2019-07-01 20:04] #105 closed

[2019-07-01 20:07] #103 closed

[2019-07-01 20:29] ColinFay opened #106 "Refactor dockerfile creators with {pkgload}"
Instead of parsing the DESCRIPTION dcf

[2019-07-04 08:00] ColinFay opened #107 "Building Dockerfile in R < 3.1.0"
Current rocker/r-versioned goes back to `R 3.1.0`, so we should think about how to handle these cases if the user has a version before that

[2019-07-04 08:00] ColinFay commented on #107
https://github.com/rocker-org/rocker-versioned/tree/master/r-ver

[2019-07-05 09:46] ColinFay opened #108 "Add JS function that use built-in browser alert and prompt"
`alert`, to use the browser built in system dialog

[code]

[2019-07-06 21:03] DivadNojnarg opened #109 "Customize app_ui function to allow other shiny templates"
By default, the app_ui file contains a classic fluidPage design. Would it be possible to add an option to allow for shiny dashboard or other templates like navbarPage?

[2019-07-07 08:45] ColinFay commented on #109
Thanks for the idea.

That should be pretty straightforward with package templating, I'll have a look into that.

Could be nice to also have a "golem_format" options (a la rmarkdown) to implement your own app_ui / app_server templates

[2019-07-07 18:55] cderv opened #110 "Add a mechanism to help not add all files in rsconnect deployment"
This is a feature request to help users of golem and prevent sending heavy bundles when deploying.

Currently, golem suggests to use `rsconnect::deployApp()` but it says nothing about which files should be deployed.  And the fact is all the files and folder are not necessary for a fully functionning app.

I am thinking about:

* All the development only files and folder that golem creates like `de

[2019-07-09 12:22] ColinFay opened #111 "replace \dontrun{} by \donttest{} or if(interactive()){}"

[2019-07-09 12:23] ColinFay opened #112 "Do not write in the current filespace"
examples/vignettes/tests in the user's home filespace.

[2019-07-09 12:24] ColinFay opened #113 "Packages installation"

[2019-07-09 12:25] ColinFay opened #114 "Do not use installed.packages"

[2019-07-11 08:53] VincentGuyader opened #115 "dont run docker as root"
be sure that created dockerfile dont run golem as root by default

[2019-07-11 10:48] VincentGuyader commented on #114
I made all `docker run rocker/r-ver:3.6 R -e 'dput(rownames(installed.packages(priority="base")))'`

And the output is always the same:

I thinkk we can hardcode

[code]

[2019-07-11 10:50] #114 closed

[2019-07-11 12:37] #111 closed

[2019-07-11 17:17] chasemc commented on #33
It looks like ya'll did a ton of work on this one, just wanted to drop something here that's outside of golem but might be useful for you or someone else that comes across this.

Another method to set options is by simply passing an ellipse to a `run_app` function, making sure the `run_app` function contains `options(...)`

[code]

[2019-07-18 14:25] #113 closed

[2019-07-18 14:25] #112 closed

[2019-07-26 16:55] statnmap opened #118 "Could not find function "with_golem_options""
When running `golem::set_golem_options()`, it is necessary to run `roxygen2::roxygenize()` after because a new function is introduced. Otherwise, we cannot run the default app.
*Image*
![image](https://user-images.githubusercontent.com/21193866/61967698-537bdf80-afd6-11e9-98b2-cc0477903759.png)

I would recommend adding a message to encourage the user to run `roxygen2::roxygenize()` because after

[2019-07-26 17:08] VincentGuyader commented on #118
It's because you use `devtools::load_all()` instead of `golem::document_and_reload()`

But I made the correction in the default NAMESPACE

[2019-07-26 17:09] #118 closed

[2019-07-29 09:10] ColinFay opened #120 "Better error on missing name in add_*"
Current is

[code]

Should be something like

[code]

Should be easy to implement with `attempt::stop_if(name, is.missing)`

[2019-07-29 09:11] ColinFay opened #121 "Should links automatically be added with add_* file?"
I think that if we use golem::add_js_* or add_css, we could add automatically to `golem_add_external_resources()` if it exists.

[2019-07-29 11:21] ColinFay opened #122 "add_module should take arg to pass to the functions"
Sthg like

[code]

[2019-07-29 11:30] ColinFay opened #123 "add_fct, add_utils"
We're currently building modules with add_module, creating a `mod_XXX` file. backend functions should also follow a convention, I suggest `fct_XXX`. So we should have an `add_function` function, that creates an R file starting with `fct_`.

Same goes for `utils_XXX`.

[2019-07-30 11:19] ColinFay opened #124 "all modules should be ns()ed when created with the templating function"
One recurrent bug is to forget to use ns() in the modules when you are using nested module.

I think in order to simplify that, we should always ns() the module_ui id so that it's never forgotten.

We should put `ns <- identity` in app_ui so that it still behaves as expected.

[2019-07-31 15:27] statnmap commented on #81
Path should be relative, not absolute in .Rbuildignore

[2019-07-31 15:38] ColinFay commented on #81
`{usethis}` does that part, we need to see if this can be handled there
https://github.com/ThinkR-open/golem/blob/master/R/add_deploy_helpers.R#L185

[2019-07-31 15:40] statnmap commented on #81
The problem seems to be the `where <- file.path(pkg, output)`. `pkg` should not be included for this case?
https://github.com/ThinkR-open/golem/blob/master/R/add_deploy_helpers.R#L182

[2019-08-01 08:46] ColinFay opened #125 "[Feature] browser_n"
One thing that bugs me when doing shiny app is that if you put a `browser()` somewhere, it's called every time the app encounters it (which is perfectly normal), but maybe what you needed is just seeing the inside once and carry on with using the app.

So one might just want to call it once or twice. Current way to do it is either to click on 'Continue' every time or to stop and restart the app.

[2019-08-05 08:00] jerome-laurent-pro commented on #6
Hi,

I'm having trouble conceptualizing something and this seemed the most related issue, albeit closed.

I already have a simple 3 files shiny application (`ui.R`, `server.R` and `global.R`) which I'm trying to convert to `golem`.

I don't know what to do with my current `global.R` file below.

[code]

The various queries are used in my `ui.R` file, simplified below

[code]

I run into scoping is

[2019-08-05 08:11] VincentGuyader commented on #6
Hi,

If you want a quick and dirty way, put your global.r in your `inst` folder and use

run_app <- function(...) {
source(system.file("global.R",package = "mygolem"))
  with_golem_options(
    app = shinyApp(ui = app_ui, server = app_server),
    golem_opts = list(...)
  )
}

But in your case It could be better to use golem_opts .

Regards

[2019-08-05 20:52] slopp commented on #110
I think having a .rsconnectIgnore file would be a great addition to the reconnect package

[2019-08-09 13:52] jerome-laurent-pro commented on #6
Thank you, it works perfectly.

When I have more time, I'll try to use `golem_opts` to build something clean.

[2019-08-11 15:30] dilsherdhillon opened #127 "Calling data in ui.R saved in data-raw"
I'm trying to develop a simple app that takes in a pre-trained model(*.RDS), and given the input by user, outputs predictions.  <30 lines of code.

I now want to package this up in an app, and eventually docker + shinyproxy.

My question is -
What path do I use to call the model in my ui.R file, if I keep my data in the `data-raw` folder?
This is what I'm using but when I run it, it says model_1 n

[2019-08-11 15:45] VincentGuyader commented on #127
Hi,

the `data-raw` folder will not be present in your builded package. you cant use it in your app.
a nice way to do what you need is to put your rds file inside the `inst/extdata` folder dans to use :

`readRDS(system.file("extdata","plop.rds",package = "yourgolem")))`

Regards

[2019-08-16 17:00] chasemc opened #128 "Ok folks, I got this :"
Ok folks, I got this :

[code]

Allows to use global options and to pass arguments to run_app that can be retrieved with get_golem_options(), and works everywhere 🤘

_Originally posted by @ColinFay in https://github.com/ThinkR-open/golem/issues/33#issuecomment-503516955_

[2019-08-16 17:05] chasemc commented on #128
Sorry I messed up the  reference to your post.

How would you pass the `port` option to `run_app()` in the example above?

[2019-08-16 19:21] VincentGuyader commented on #128
Hi,

we maybe add to change the `run_app` function with,

[code]

[2019-08-16 19:25] chasemc commented on #128
That's what I'm thinking and will look into if I get the time; I'm trying to make https://github.com/chasemc/electricShine compatible with golem

[2019-08-16 22:03] ColinFay commented on #128
Not on my 💻 rn but https://github.com/ThinkR-open/golem/blob/master/inst/shinyexample/R/run_app.R#L8 is a call to `shiny::shinyApp()` so yeah basically you can use the `options = list(port = xxx)` arg here. See: https://shiny.rstudio.com/reference/shiny/latest/shinyApp.html
No side effect to be expected AFAIK. I'll try to write an example when I'm back on my computer.

[2019-08-16 22:13] ColinFay commented on #127
Just as any package the `data-raw` folder is ignored when build, so you can't refer to data from there.

As far as I see it if you need something accessible in your UI, you should:
- save your RDS as a data file in your package (http://r-pkgs.had.co.nz/data.html)
- in the `with_golem_options`, use `golem_opts(mydata = mypkg::mydata)` at https://github.com/ThinkR-open/golem/blob/master/inst/shinyex

[2019-08-19 15:21] dshelldhillon commented on #127
Hi Vincent and Colin -
Thank you for your help and sorry for the late reply. I've been out and will give this a try and close the issue.
Once again, thanks a ton!!

Dilsher

[2019-08-21 16:33] chasemc commented on #128
I still am not sure why you can't set the options with `base::options()`  as a list before calling shinyApp? Something like:

You mentioned edge-cases here: https://github.com/ThinkR-open/golem/issues/33#issuecomment-493334078  but it seems like this is only a problem with using withR because of the on.exit call from runApp.

[code]

Also, would it be a good idea to `::` the package name into shin

[2019-08-21 20:37] ColinFay commented on #128
## Re options:

On a more global scale, it's generally a bad practice to set global options when using a function, especially when deploying into production, where you could override options globally defined by you/your IT. If ever that happens, the options set inside a function should be removed `on.exit` of this function. I know here we are defining something called `golem_options`, but I think

[2019-08-21 20:52] ColinFay commented on #127
Ok so I thought this through and realized it's way easier than that with the way `{golem}` is implemented.

You just have to:
- Register your dataset as a package data (follow http://r-pkgs.had.co.nz/data.html) :
<https://github.com/ColinFay/golemexample/blob/master/data-raw/dataset.R#L6> which is turned into <https://github.com/ColinFay/golemexample/blob/master/data/plop.rda>

+ Use your data obj

[2019-08-23 09:06] ColinFay opened #129 "Automate CSS/JS additional app_ui on file creation"
I don't like the way current implementation asks to copy and paste a piece of code into app_ui.R when creatin CSS / JS files.

{golem} should either insert that tags$ automatically or we should have a function that scans www/ and returns the correct tagList.

[2019-08-23 09:08] ColinFay opened #130 "Allow to download CSS / JS file from the web"
Instead of having to do `download.file("", "inst/...")`, {golem} should have a `download_external_css` or something like this, that downloads the file and add it at the right place.

[2019-08-23 09:46] VincentGuyader commented on #130
Good idea.
I think I could be good to have a consistent notation with 'use_favicon' (it's the same spirit)

[2019-08-23 10:10] ColinFay opened #131 "Explain golem nomenclature somewhere"
We've got `add_*`, ˋuse_*`, and others. This nomenclature should be explained somewhere.

[2019-08-23 10:12] ColinFay commented on #131
(Maybe we need an FAQ)

[2019-08-23 11:13] VincentGuyader commented on #131
And be sure that we are constant :)

[2019-08-23 18:07] VincentGuyader opened #132 "add cheatsheet as vignette in the package"
see : https://stackoverflow.com/questions/19716498/using-a-static-prebuilt-pdf-vignette-in-r-package

[2019-08-26 20:18] ColinFay commented on #130
That should also work for images and any external file

[2019-08-27 01:16] edgararuiz-zz opened #134 "Add examples to README"
It would be great if there was a section in the README with links to repos that are using `golem`.  Ideally, one of them would be a "hello world" super simple repo that would help us obtain basic understanding of the process.  Something similar to how `drake` does it in its README: https://github.com/ropensci/drake#use-cases

[2019-08-27 06:36] ColinFay commented on #134
Very good idea.

I think we can also get inspiration from https://github.com/rstudio/shiny-examples

[2019-08-28 12:34] ColinFay opened #135 "Do sanity check in the deploy phase"
One addition to the deploy script should be a sanity check for:

- any forgotten `browser()`
- any #TODO / #TOFIX / #BUG

[2019-08-28 16:25] jcheng5 opened #136 "Suggestion for passing arguments"
Thanks for creating this package, it is definitely filling a gap that has existed in the Shiny ecosystem for too long!

I recently took a closer look at golem and a couple of things surprised me, which turned out to be related. My first question was why `golem_opts` was necessary, and the second was how you could pass arguments from `run_app` to `app_ui` or `app_server`, which it looks like was th

[2019-08-29 09:51] marcosci commented on #56
Is there somewhere on the web something about this? Just wanted to try it out, but if this process could be sped up ... 😋

[2019-08-30 10:01] ColinFay opened #137 "run_app.R should be renamed app_run.R"
As we need to use a convention for file names (mod_*, fct_*, utils_*) #123, run_app.R should be renamed app_run.R to follow the top level convention of app_ui and app_server.

[2019-08-30 10:04] ColinFay commented on #123
I think we should allow these to be module specific.
For ex:

- `mod_plop.R`

[code]

would create

- `mod_plop_utils_ui.R`

or

- `utils_ui_mod_plop.R`

I think the first would fit better in the file organisation (utils for a module being next to their main file.

[2019-08-30 10:54] ColinFay opened #138 "A function to turn a Shiny App to a golem"
I think we should have something like `make_golem()` that can take the current directory and turn it into a {golem}.

Maybe the second step of #56

[2019-08-30 20:52] jonmcalder opened #139 "Best practices for multiple Shiny apps"
For standalone Shiny apps, and especially for large Shiny apps, it usually seems to make sense to stick to one R pkg for each app.

Yet for smaller apps and/or apps that share common resources and functionality, I believe one can sometimes make a case for developing multiple apps within the same package. Obviously shared code / pkg infrastructure should be developed as modules that can be shared a

[2019-09-02 10:07] ColinFay opened #140 "Add skip_on_ci() to test template"
`testthat::skip_on_ci()`

[2019-09-02 10:40] ColinFay opened #141 "Automatically add tests file on fct_ and utils_ creation"
Linked to #123

I think that once the fct and utils are created, if tests/ exists, we should automatically create a file in the tests.

To do :

- [x] Add a with_test param to both these functions
- [x] Implement the test logic in the same way as https://github.com/ThinkR-open/golem/blob/dev/R/modules_fn.R Note that there should be no need to add any content to the test files, so we would simply b

[2019-09-02 11:29] ColinFay commented on #141
I *think* that would also make sense to that for modules, with a

[code]

[2019-09-03 09:20] ColinFay opened #142 "Add small wrapper functions for logs"
Examples:

[code]

[2019-09-03 12:33] ColinFay opened #143 "RStudio shortcut for ns() ing things"
A keyboard shortcut that puts the selection between `ns()`

[2019-09-03 14:33] ColinFay opened #144 "Change the @export from modules"
99% of modules in an app are not meant to be exported.

The current `add_module` function currently adds an @export.

This should be made optional with `add_module(..., export = FALSE)`.

The export = FALSE will still create the title and desc tags for internal (i.e developer) documentation purpose, and this would allow to switch to @export in a blink of an eye.

[2019-09-05 12:27] GregSutcliffe opened #145 "Deploying to self-hosted Shiny Server"
Hi there - new to Golem but enjoying the workflow :)

I'm looking for guidance on deploying a Golem-based Shiny app to a self-hosted Shiny server. As far as I can see in [03_deploy.R](https://thinkr-open.github.io/golem/articles/c_deploy.html#deploying-apps-with-golem) the functions are all aimed at RStudio hosting or Docker, so how would I go about deploying this to my Linux VM?

For contrast, in

[2019-09-05 12:37] ColinFay commented on #145
Hey @GregSutcliffe,

Thanks for giving `{golem}` a spin!

Deploying to Shiny Server should be pretty straightfoward if you did this with a standard application before. Right now there are two ways to do it: copy the full golem folder, or use the built package.

With the first solution, the idea is to have the whole `{golem}` folder, with the `app.R` generated by `golem::add_shinyserver_file()`, at

[2019-09-05 12:41] GregSutcliffe commented on #145
Thanks for the fast reply!

So if I understand (1) correctly, that means `app.R` is in a subdirectory, from Shiny Server's perspective, right? Will it find it there (in `app/`) or do I need to move it to the project root?

I'm just getting my head around Shiny modules - as soon as I have a basic app running, I'll try the deploy and report back!

[2019-09-05 12:42] GregSutcliffe commented on #145
It's probably worth mentioning that my non-Golem apps use `renv` to keep dependencies under control - if I use `renv` within Golem, does that affect either option?

[2019-09-05 15:13] GregSutcliffe commented on #145
So I have a vary basic app (one static plot in a module, one table in app_server/ui.R), and it works in RStudio, via `run_dev.R` and via `app.R`.

When I use method (1) to deploy to my server (rsync the project, renv::restore the deps), and then go to the URL in my browser, I'm getting errors (the UI starts but then disconnects after drawing the `h2` header, which suggests a code error) - but Shin

[2019-09-05 15:55] GregSutcliffe commented on #145
Just had a try with method (2) - installed the built package tgz on my server and I'm seeing the same behaviour. The package works locally, but on the server it disconnects, and I cannot get it to log why. Any pointers welcome :)

[2019-09-05 16:20] GregSutcliffe commented on #145
OK, I have the app working now - there was, of course, a typo in some of the startup code. There are logs coming from the reactive parts of the app (i.e things like "`stat_bin()` using `bins = 30`. Pick better value with `binwidth`." from `geom_histogram()` etc.

Having fixed that, I've re-tested both methods, and both work fine. I'll probably go with option (2) as I can push the package to a Git

[2019-09-06 20:48] ColinFay commented on #56
Hey @marcosci,

Right now the best answer I've got is:
https://github.com/ColinFay/golemize

It's a little bit rough, but I'll work on documenting this soon in this repo wiki and/or as a Vignette :)

[2019-09-10 21:22] ColinFay commented on #94
Reopening this, Vignettes need to be updated

[2019-09-11 07:01] ColinFay commented on #121
wonder if `htmltools::htmlDependency()` would work to shortcut that

[2019-09-11 09:19] fmmattioni opened #146 "Profiling a golem app with profvis"
I have asked a question to @ColinFay on twitter regarding how I could run [profvis](https://github.com/rstudio/profvis/) in a golem app (twitter discussion may be accessed [here](https://twitter.com/felipe_mattioni/status/1171521806571728896)).

The problem is that if we try to wrap `profvis::profvis()` into `golemapp::run_app()` (let's imagine here the `golemapp`is the name of our app) as in:
[co

[2019-09-11 14:32] ColinFay commented on #127
hi @dilsherdhillon

Have you worked on that? Do you need any more info?

Don't hesitate to close the issue if everything is ok :)

[2019-09-11 14:35] ColinFay commented on #146
Thanks @fmmattioni!

As said on Twitter, that's because run_app() returns the App objet but doesn't actually run it.

The print S3 for shiny app object is responsible for launching the app.

Reminder to myself: talk about this `profvis()` / `{golem}` interaction somewhere.

[2019-09-11 14:46] ColinFay opened #148 "Should run_app() return the shiny object or print the output?"
This is in the spirit of #146 and #136

The current run_app() function does not "actually run the app". It does create an app object, which is returned and launched by the print() method for Shiny objects.

This is problematic for example for profvis, which doesn't work "natively" on xxx::run_app()

One way to do this would be to change run_app to

[code]
which would allow profiling.

Though, this

[2019-09-17 20:31] ColinFay opened #150 "refactor test for app launch"
Draft :

[code]

[2019-09-18 20:47] ColinFay commented on #150
Notes this one works on :
- Gitlab CI
- Appveyor

[2019-09-19 09:25] ColinFay opened #153 "change golem::invoke_js argument name"
The `ui_ref` argument name in invoke_js is misleading as it is possible to pass any kind of elements if you're building your own MessageHandler.

`invoke_js` should either see this arg renamed, or we're reserving this function for golem js and create a new function for custom handler.

Choice 1 seems the best to me.

[2019-09-19 09:36] ColinFay opened #154 "Allow to add fct and utils_ on module creation"
The `add_module()` should have two arguments more to allow to automatically create the `mod_fct_` and `mod_util_` associated.

So instead of

[code]

We would have `add_module("plop", fct = "server", utils = "ui")`

[2019-09-19 09:41] #81 closed

[2019-09-19 09:58] ColinFay opened #155 "golem::invoke_js can't handle lists"
[code]
should behave just like :

[code]

[2019-09-19 09:59] ColinFay commented on #155
This might be due to `mapply()`

[2019-09-19 10:58] fmmattioni opened #156 "Typo in add_dockerfile_shinyproxy()?"
I believe the following line is missing to separate `-e` from the following code:

https://github.com/ThinkR-open/golem/blob/master/R/add_deploy_helpers.R#L190

The generated Dockerfile displays the following result:

`CMD  ["R", "-e options('shiny.port'=3838,shiny.host='0.0.0.0'); xxx::run_app()"]`

And it ignores `xxx::run_app()` when it is run.

I manually changed it to:

`CMD  ["R", "-e", "opt

[2019-09-19 11:03] #123 closed

[2019-09-19 12:01] ColinFay commented on #156
You're very right, that's a typo.

Would you be willing to make a PR to solve that ?

I think this where the problem lies: https://github.com/ThinkR-open/golem/blob/master/R/add_deploy_helpers.R#L190

[2019-09-19 13:06] fmmattioni commented on #156
Oh, that is great! I will do that today!

[2019-09-20 06:24] ColinFay opened #157 "golem::document_and_reload should be more explicit when it fails"
If you have a typo in your app or if for any reason it fails to `load_all()`, the run_dev.R script is still able to go through the whole process if the app is installed on the current machine.

The issue there is that it's easy to miss the error from `document_and_reload()` and to launch a version of the app that is not up to date.

[2019-09-20 10:45] fmmattioni opened #159 "Favicon is lost when deployed with shinyproxy"
This is related to [this discussion](https://twitter.com/felipe_mattioni/status/1174636363808989184) on Twitter.

I have noticed that after deploying my shiny app with shinyproxy (this is currently in a temporary testing URL), I loose my favicon that was added through `golem::use_favicon()`.

I have two versions of this app:

1) Deployed with Shiny Server (favicon works): https://shiny.fmattioni.m

[2019-09-20 11:20] VincentGuyader commented on #159
tanks for this issue,

I will look at this !

Regards

[2019-09-20 14:32] #156 closed

[2019-09-24 21:37] robertoromor opened #161 "Alternative "add_module" function"
I am trying to come up with my own "add_module" function a special template but it has so many dependencies. I created an exact replica of the file in here ThinkR-open/golem/R/add_files.R, sourced it inside 02_dev.R just changing the function name and it does not work. It fails throwing this:

Error in cat_bullet(..., bullet = "tick", bullet_col = "green") :
 could not find function "cat_bullet

[2019-09-24 22:04] VincentGuyader commented on #161
cat_bullet comes from the {cli} package

[2019-09-24 23:12] robertoromor commented on #161
do you have an easy way to have all the dependecies used by "add_module" in the edited version. The edited version as I mentioned is the same file with different file and function name sourced in 02_dev,R

[2019-09-25 06:18] VincentGuyader commented on #161
Everything is explicitly written in the source file:

#' @importFrom glue glue
#' @importFrom cli cat_bullet
#' @importFrom utils file.edit
add_module <- function(

[2019-09-25 14:11] robertoromor commented on #161
That is added in the file too.
I had to add:
require(cli)
and the whole function for create_dir_if_needed
I was wondering if it was something that I can change in the NAMESPACE file.

[2019-09-25 14:13] VincentGuyader commented on #161
I m not sure to understand what you try to do.
It's seems more an issue about your skill on package creation than a golem issue.

Regards

[2019-09-25 14:38] ColinFay commented on #161
Hey @robertoromor,

Copying and pasting a function from `{golem}` might indeed not be that easy as it has a small amount of internal functions to run smoothly.

As Vincent said, it's quite unclear what you're trying to achieve there: are you building your own version of golem or are you building a new package? Or are you trying to create a new function inside your Shiny project?

Please note that

[2019-09-25 16:38] robertoromor commented on #161
I am trying to create a new function inside my shiny project. I intend to create a dashboard for time series, and this dashboard will have repetitive workflows that need to have their own modules. This makes me want to have a template ready to use as close as possible as my workflow: documentations-extractsqlquery-plottimeseries-DT
I admit my lack of knowledge on package creation as Vincent mentio

[2019-09-25 19:13] ColinFay commented on #161
Ah ok, got it now :)

What you're asking actually makes sense, so let's call it a feature request ;)

To sum up, the idea would be to be able to use `add_modules()` but passing a template as a parameter. So you could design your own module skeletons and use them here.

I need to think about the best way to implement this.

In the meantime, the best thing you can do is add a file in your `R/`, and

[2019-09-26 13:41] ColinFay commented on #96
Done in https://github.com/ThinkR-open/golem/commit/1c919af1a4710fbf8f22a8fcb7b16c636e1e13ea

[2019-09-26 13:41] #96 closed

[2019-09-27 10:44] dan-reznik opened #162 "wizard like setup"
I was wondering if it would make sense for the whole setup phase under golem to be placed on a select-and-click wizard. there's simply too much code-oriented stuff for one to just get to a basic shiny dashboard!

[2019-09-27 11:07] novica commented on #154
Hi. I noticed golem on my twitter feed and would like to use hacktoberfest to learn some more R. What is the best way to continue in order to try to contribute some code? Is there any guidance on your part?

[2019-09-27 12:00] ColinFay commented on #154
Hey @novica,

I just added a CONTRIBUTING.md guide here : https://github.com/ThinkR-open/golem/blob/master/CONTRIBUTING.md

Let me know if that helps.

[2019-09-28 14:42] ColinFay commented on #162
Hey @dan-reznik,

Thanks for the suggestion :)

The reason we have these scripts being that you keep track of what happens during the development process, so I'm not sure I'm comfortable with the idea of having a dynamic wizard unless it writes in the file 🤔

If we build this feature, this should be a wizard that will write inside the dev files, so we are sure that we keep the general philosophy,

[2019-09-28 15:53] ColinFay opened #163 "Refactor the run_dev script"
Two things:

+ [ ] Refactor the script so that it's function based

Notably because of #157

[code]

+ [ ] Allow to open in a new R session

One way to do that can be through processx:

[code]

Issue being that we don't have the logs from the app in live.

Another way could be to use RStudio Terminals, as suggested by @Cervangirard:

[code]

Or

[code]

[2019-09-28 15:59] dan-reznik commented on #162
that's what i meant. you will increase golem's appeal 100 fold. the level
of complexity and detail is just untenable. in a way that's a problem w R
in general. code is very hard to read and maintain. un cas d'amour et haine.

dan

On Sat, Sep 28, 2019, 11:42 AM Colin Fay <notifications@github.com> wrote:

[2019-09-29 20:55] ColinFay opened #164 "Vignette about the golem structure"
A cross-posted content with

https://github.com/ThinkR-open/building-shiny-apps-workflow/issues/70

about the content of a golem and how each part are to be used.

[2019-09-29 21:10] novica commented on #154
Hi @ColinFay thanks for the guide.

So, I was looking at the code in the `dev` branch, and this is my thinking: add the two arguments in `add_modules.R` so it looks like this:

`add_module <- function(
  name,
  fct = NULL,
  utils = NULL,
  pkg = get_golem_wd(),
  open = TRUE,
  dir_create = TRUE
)`

Then, following the logic in `add_r_files.R` add tow `if` statements to `add_modules.R`:
[code]

[2019-09-29 21:44] ColinFay opened #165 "Rethink the design of the add_ functions"
Ok so open question here: `golem::add_module` doesn't let you change the dir in which you create the modules. All the other `add_` function do let you change that.

The general idea was that you might put css files elsewhere, but modules are to be put in an `R/` folder. Should that be standardised? I think that creating an `R/` folder even if you're  not inside a package is still a good idea as it

[2019-09-29 21:57] ColinFay opened #166 "Document that you can use `{golem}` outside of a `{golem}` project"
Related to #165

These functions can work outside of a package structure, it should be documented.

Related twitter thread: https://twitter.com/grrrck/status/1178417852812087296

[2019-09-29 21:58] ColinFay commented on #100
This also goes for all the add_ functions

[2019-09-29 22:00] ColinFay opened #167 "Message to link to `golem_add_external_resources()` should be conditional to the package structure"
We shouldn't get a message to put some code in `golem_add_external_resources()` if we are not inside a package structure built with `{golem}`.

Related twitter discussion: https://twitter.com/_ColinFay/status/1178428439608659971

[2019-09-30 19:06] ColinFay commented on #154
Hello @novica,

Thanks for digging into that.

Yeah that's the spirit.

Here are some ideas:

+ The new argument should be placed at the end of the function `()` so that there is no breaking change with old code :)
+ We will definitely keep the functions from `add_r_files`, so that these functions can still be called whenever you want. So the idea would be more to have something like :

[code]

Le

[2019-10-01 04:10] cparsania opened #168 "couldn't find google_analytics.js from www/"
Hi, I build shiny app using `golem`. Followed instructions as given in `(01/02/03)_dev.r`. all went well. I successfully build .tar.gz file as well.

The problem arises when i install the package using `devtools::install()` or `devtools::install_local()`. when i run the app using `run_app()` function, it says `cannot open file 'www/google_analytics.js': No such file or directory`  this is how i in

[2019-10-01 04:37] cparsania commented on #168
I figured it out. Here is the catch. I forgot to put `tags$head(includeScript("www/google_analytics.js"))` inside `golem_add_external_resources()`. Once I did, it resolved the problem.

[2019-10-01 05:16] cparsania commented on #168
Similar to above, i have included some plain HTML in my shinyApp using `includeHTML`. Where should i keep these HTML files ?

[2019-10-01 13:07] marciz commented on #163
Any option to include `options(shiny.autoreload = TRUE)` in `run_dev()`, which helps in development?
Tried but without success

[2019-10-01 21:20] VincentGuyader opened #169 "add_dockerfile cant deal with package version in description"
If you use `usethis::use_tidy_versions()` before launchin `golem::add_dockerfile()` the dockerfile will not create an line per dependencies.

[2019-10-01 21:26] ColinFay commented on #169
I feel like these functions should be handled by {desc} so we have a better grasp on it.

[2019-10-01 21:29] VincentGuyader opened #170 "add_dockerfile use full path in RbuilIgnore"
example :

`^C:\Users\Vincent\Desktop\test\retest/Dockerfile$`

`^Dockerfile$` is better

[2019-10-01 21:35] VincentGuyader commented on #169
I saw this comment :

we need to discuss about it :)

[2019-10-01 21:57] ColinFay commented on #169
Yep, the reason why it's skipped is that install_version will look for $MRAN/archives, but if we have a newer package version installed in DESCRIPTION, it will throw an error 🤔

Another way to do it would be to install from the Sys.Date()-1 MRAN snapshot when using install_version.

[2019-10-02 06:38] ColinFay commented on #170
That has been solved in #152

[2019-10-02 06:40] #170 closed

[2019-10-02 08:01] xari commented on #163
I have also been trying to get this to work, without success.

[2019-10-02 08:07] xari commented on #163
I would also favor setting the default value to `TRUE`.

[2019-10-02 12:37] ColinFay commented on #108
Also, using `prompt` to get a text intput from the user

[2019-10-02 12:37] ColinFay commented on #108
To be used in the `golem::active_js()` function

[2019-10-02 14:49] novica commented on #154
Hi @ColinFay

I guess it does make sense. The `if` statements call the functions that are exported from `add_r_files.R`. Unless I am missing something then all of the changes to `add_module.R` are not very complicated. This is how I changed the file: https://github.com/novica/golem/commit/62c8e8fa320ec683f73f5efa461370d95ccc6be0

[2019-10-02 17:24] ColinFay opened #171 "Allow to create golem without comments"
Comments in the skeleton app are useful when you get started, but at some point we should be able to run the app without the series of comments everywhere explaining what to do.

[2019-10-02 18:06] ColinFay opened #172 "golem_add_external_resources should inclue a title tag"
There should be a title tag included in the `golem_add_external_resources` with the name of the app.

https://www.w3schools.com/tags/tag_title.asp

[2019-10-02 18:23] ColinFay commented on #168
Hey @cparsania,

The current issue is that the basic shiny app format "hides" the two ways to include elements in your application. In the standard www/, you're referring to the same folder, but which are used in two different states.

+ `addResourcePath()` adds a link __available at runtime__, i.e while your app is served in your browser. That's why when you do `tags$script(src="www/handlers.js")

[2019-10-02 18:48] VincentGuyader commented on #159
I've been thinking about this problem.
I think the favicon that is displayed is the one of shinyproxy (the green leaf) and there's not much we can do about it. Because of the shinyproxy iframe system...

[2019-10-02 21:33] VincentGuyader commented on #132
I use the R.rsp pacakge to put vignettte "asis", this implies me to put directly the html files inside the `vignettes` folder, and not only the Rmd files...

it works, but it break the 'classic' vignette building process.

now you have to run `devtools::build_vignettes()` and then copy and paste the html file from /docs to /vignettes

[2019-10-03 01:43] cparsania commented on #168
Thanks, Colin for making me think of how `system.file()`actually work in backend. Also, `[golemexample](https://github.com/ColinFay/golemexample/blob/master/dev/02_dev.R#L28)` is useful resource to get rid of many other issues. So, it solved my problem. Cheers, ~Chirag.

[2019-10-03 06:53] zwycl commented on #130
Hello, I would like to work at this issue for hacktoberfest!

[2019-10-03 07:12] ColinFay commented on #130
Thanks @zwycl!

You're now assigned to it then :)

Is the issue description explicit enough or do you need more information?

[2019-10-03 07:12] ColinFay commented on #168
Perfect :)

Closing the issue then

[2019-10-03 07:12] #168 closed

[2019-10-03 07:15] ColinFay commented on #154
Perfect!

Do you feel like writing a unit test for this?
It should be included in:
https://github.com/ThinkR-open/golem/blob/master/tests/testthat/test-add_module.R

+ If you prefer me to write it, no worries, I'll be happy to :)
+ If you're not familiar with tests and want to know more, you can start there: http://r-pkgs.had.co.nz/tests.html

[2019-10-03 08:55] novica commented on #154
Sure, I will try to write the test. I haven't used `testthat` before only `testit` but I hope it is not too different.

[2019-10-03 10:09] fmmattioni commented on #159
Thank you, @VincentGuyader for looking into this.. I am going to contact the authors of shinyproxy to check whether they might consider adding an option to remove this green leaf, thus not overwriting the favicon.

[2019-10-03 10:19] VincentGuyader commented on #159
There is an option `favicon-path: favicon.ico` in the application.yml file. But it's the same for all the apps

[2019-10-03 12:11] novica commented on #154
OK. I think this is it: https://github.com/novica/golem/commit/355e7a95fc4da1ab8f33004803cf457a3b123cee

[2019-10-03 13:27] ColinFay commented on #154
Yep, as `fileext` is vectorized you'll get three R there so `expect_equal` will fail.

[code]

so

[code]

fails.

Updating to `lapply(tools::file_ext(script), function(x)  testthat::expect_equal(x, "R"))` should work :)

[2019-10-03 14:15] novica commented on #154
Awesome :) Thanks for the guidance @ColinFay
All tests pass. Here is the last commit.
https://github.com/novica/golem/commit/79ebb0b59078bde726b65e64d45fdbadd0e1b4e2

[2019-10-03 14:16] ColinFay opened #175 "Refactor Dockerfile to run installation with local R version + package versions"
The Dockerfile creation should be created installing the packages from:
- Discarding MRAN date
- With current R versions
- With the version of packages installed on the machine (so through `remotes::install_version()`

As we are already importing `{desc}`, the Dockerfile can be created from that.

Also, we can use `usethis:::base_and_recommended()` as a function to list the base and recommended.

[2019-10-03 14:18] ColinFay commented on #175
Related : #115

[2019-10-03 14:32] ColinFay commented on #154
Very cool 🤘

Can you PR this into `dev`?

[2019-10-03 14:36] novica commented on #154
Done.

[2019-10-03 16:47] novica commented on #172
This is in `inst/shinyexample/R/app_ui.R` right?

[2019-10-04 06:32] ColinFay commented on #172
Yes it is!

We should have a `tags$title` that takes the name of the current package (`shinyexample` in the template, which is `str_replace`d on project creation

[2019-10-04 06:43] ColinFay commented on #154
Merged.

Thanks @novica !

[2019-10-04 06:43] #154 closed

[2019-10-04 06:54] ColinFay commented on #157
Done in #26bfa5df7497645afe54c1604ed99b72fcb23a4e

[2019-10-04 06:54] #157 closed

[2019-10-04 08:04] ColinFay opened #180 "Changelog in pkgdown website is a 404"
Change log points to https://thinkr-open.github.io/golem/news/index.html which is a 404

<img width="1439" alt="Screenshot 2019-10-04 at 10 04 12" src="https://user-images.githubusercontent.com/17936236/66191320-5fe37f00-e68e-11e9-8c94-26b50014d41a.png">

[2019-10-04 08:05] ColinFay opened #181 "Class function in the pkgdown website"
In https://thinkr-open.github.io/golem/reference/index.html, the functions should be classed with headers, like in https://purrr.tidyverse.org/reference/index.html

[2019-10-04 08:06] ColinFay opened #182 "No icon for github in the pkgdown website"
<img width="370" alt="Screenshot 2019-10-04 at 10 06 13" src="https://user-images.githubusercontent.com/17936236/66191448-a46f1a80-e68e-11e9-8e4a-a32cacedc104.png">

[2019-10-04 08:58] zwycl commented on #130
The idea is to create functions _download_external_css_ and _download_external_js_ that download specific types of file from the web and put them in the right place ("inst/app/www"), and then call _add_js_file_ or _add_css_file_ to add the application, correct?

Thanks in advance!

[2019-10-04 10:24] ColinFay commented on #130
That's it, perfect!

Thanks :)

[2019-10-04 10:34] VincentGuyader commented on #130
we maybe need to adapt the `use_favicon` function with the same principe...

[2019-10-04 14:51] ColinFay opened #186 "golem::detach_all_attached should be silent"
[code]

The NULL here are just noise, I think we should silence this.

http://www.catb.org/~esr/writings/taoup/html/ch11s09.html

The responsible part being:

[code]

in `detach_all_attached`

[2019-10-04 16:05] annakau commented on #186
Can I try to fix this?

[2019-10-04 16:17] VincentGuyader commented on #186
@annakau yes, please !

[2019-10-04 19:48] ColinFay commented on #186
thanks @annakau, closing the issue now

[2019-10-04 19:48] #186 closed

[2019-10-04 20:36] VincentGuyader opened #189 "use sysreqs for Dockerfile creation"
`sysreqs::sysreqs(desc = "DESCRIPTION",platform = "linux-x86_64-debian-gcc")`

[2019-10-04 20:37] VincentGuyader commented on #175
Related : #189

[2019-10-05 12:13] novica commented on #172
Adding `tags$title(package_name)` to the `golem_add_external_resources <- function()` seems to me to be the answer. But I don't know how to run the example app, or test this, so maybe I am missing something obvious.

[2019-10-05 18:48] novica commented on #167
I might be asking silly questions but I can't figure out how to see what happens with any changes that I make when I try to run `add_js_handler` for example.

Here I'm thinking that what is needed is a condition to test before printing the message. So, just wrap the message like this, in `add_files.R`:

[code]

But I don't know how to see what this does, because if I understand correctly if I do `

[2019-10-05 19:55] VincentGuyader commented on #172
@novica you can edit this  part : https://github.com/ThinkR-open/golem/blob/1411477d328a306f8b176ab5ee9bb09779e87f34/inst/shinyexample/R/app_ui.R#L17 by putting `tags$title(shinyexample)`

Everything inside shinyexample is used as template during golem creation and `shinyexample` is replaced by the golem names.

Regards

[2019-10-05 19:56] VincentGuyader commented on #169
linked to #175

[2019-10-05 20:23] VincentGuyader opened #192 "implement a logging tool such as futile.logger"
see : https://github.com/zatonovo/futile.logger

I could be good to have a true, nice log during dev process

[2019-10-05 20:30] VincentGuyader commented on #137
is it too late to change the `run_app()` function to `app_run()` ?

It's important to have  the same name for function *and* source file script.
maybe we can do the change everywhere like this :
shinyexample::run_app() to shinyexample::app_run()
and also let somewhere `run_app <- app_run` to avoid breaking change

[2019-10-05 20:33] VincentGuyader commented on #107
I can see the problem. But I'm not sure the problem will ever arise :)

[2019-10-05 20:35] VincentGuyader commented on #106
what was your meaning about this ?

[2019-10-05 21:09] novica commented on #172
Hi @VincentGuyader,

I am confused. Shouldn't `tags$title` be inside of `tags$head()`?

[2019-10-06 06:23] ColinFay commented on #172
Hey,

Yes, the title tag should be put inside the tags$head() in the file Vincent pointed to.

You can simply add the piece of code (`tags$title("shinyexample")` ) there.

The best way to test it for now is to reinstall your local version and to create a new package with golem :)

[2019-10-06 07:21] novica commented on #172
Right. Apologies for all the questions.

[2019-10-06 07:39] ColinFay commented on #172
No problem, on the contrary, you're very welcome to ask questions.

Thanks for your contributions :)

[2019-10-06 07:40] #172 closed

[2019-10-06 20:18] novica commented on #166
Not sure what exactly is needed, but I thought maybe this: https://github.com/novica/golem/commit/c03578a68d8197d9bac17970dfb399f844060647 is a step in the document direction.

[2019-10-06 21:17] novica commented on #120
Using `is.missing` returns `object 'is.missing' not found`. But
[code]
seems  to do the job.

[2019-10-07 08:03] zwycl commented on #155
Hello, I would like to work on this.

[2019-10-07 09:16] espinielli commented on #182
This is strange if you inspect the `fa` home icon you see it has `class="fas fa fas fa-home fa-lg"`
while the github one is  `class="fab fa fab fa-home fa-lg"`.

Changing `fab` to `fas` locally in the browser makes it work, but it is strange.
I thought this icon was coming directly from `pkgdown`...in fact the [news](https://github.com/r-lib/pkgdown/blob/d01672efa3baa80fd7ab238b7143080b0daf49a4/NE

[2019-10-07 14:33] ColinFay commented on #155
@zwycl Of course, please do.

[2019-10-07 19:16] ColinFay commented on #120
@novica Yes, this is what we need: if there is no "name" argument passed by the user, we return an informative message :)

[2019-10-07 19:27] ColinFay commented on #155
So to give more context about `invoke_js`, the reason why it's with a `mapply` is that I wanted to be able to do something like `golem::invoke_js("hide_id", c("a", "b"))` so calling the JS fun on several elements. The issue is that the current implementation prevents from doing this:

[code]

to send to

[code]

Which is available with

[code]

I'm wondering what would be the best way to do this w

[2019-10-07 19:28] ColinFay commented on #182
Thanks @espinielli 💪

Waiting for `thinkrtemplate` to be updated then, and pinging @statnmap for that :)

[2019-10-07 19:30] ColinFay opened #196 "Article pages don't work on pkgdown site"
https://thinkr-open.github.io/golem/articles/a_start.html and friends are a 404

<img width="1552" alt="Screenshot 2019-10-07 at 21 30 11" src="https://user-images.githubusercontent.com/17936236/66342440-b5978000-e949-11e9-8280-c14c81ff218d.png">

ping @statnmap

[2019-10-07 19:31] ColinFay commented on #166
That's very nice.

I think another good place to have this would be the `02_dev` vignette : https://github.com/ThinkR-open/golem/blob/master/vignettes/b_dev.Rmd

[2019-10-07 19:34] ColinFay commented on #106
We're using things like `read.dcf(input)[1]` but the `dcf` file can exist in a different order (which is kind of unlikely, but possible).

https://github.com/ThinkR-open/golem/blob/master/R/add_deploy_helpers.R#L160

I think we can use `pkgload::pkg_name()` there

Also https://github.com/ThinkR-open/golem/blob/master/R/add_deploy_helpers.R#L234

[2019-10-07 19:37] ColinFay commented on #107
Shiny depends on `R (>= 3.0.2)`, so building before that is relatively impossible I guess.

I think we should add a warning that we're building on top of `3.1.0` if someone tries to go before that (current oldest version of r-ver)

[2019-10-07 19:39] ColinFay commented on #137
Strictly speaking, there is no reason to do `run_app <- app_run`: the name will be changed only in golem created after the change.

As the `run_app` function is defined inside the package, even if newer version of golem uses `app_run()`, that wouldn't break old code.

But that would break documentation :)

[2019-10-07 19:41] ColinFay commented on #192
Related:

https://github.com/ThinkR-open/building-shiny-apps-workflow/issues/48

See in particular : https://github.com/daroczig/logger/pull/25

I would be against reinventing the wheel here, I think the best way to go would be to leverage existing tools and integrate them in the workflow.

[2019-10-07 19:45] ColinFay commented on #167
So the idea behind this one is that if you are using golem outside a golem app, for example in the default app.R example from RStudio, you'll get this message in your console `To link to this file,  go to the `golem_add_external_resources()` function in `app_ui.R` and add `tags$script(src="www/plop.js")`

The idea is that we should receive this message only if we are in a golem package. The best w

[2019-10-07 19:47] ColinFay commented on #171
I think the easiest way is to do this manually, with readLines, greping the lines starting with `# ` (mind the space) and to remove them

[2019-10-07 19:52] ColinFay commented on #143
Closed by #195

[2019-10-07 19:53] fmmattioni commented on #159
One comment on this... I have just realized that if I have `favicon.png` instead of having `favicon.ico` it works. For some reason, `favicon.ico` does't get uploaded.

[2019-10-07 19:56] fmmattioni commented on #159
All I had to do was to use `golem::favicon(ico = "www/favicon.png")`

[2019-10-07 20:09] ColinFay commented on #159
Ah, that's good to know!

Any chance you could add a small note about this there: https://github.com/ThinkR-open/golem/blob/master/vignettes/a_start.Rmd#L177 ?

[2019-10-07 20:09] #143 closed

[2019-10-07 20:14] fmmattioni commented on #159
Of course!

I just wished I knew the reason why this happens... any thoughts?

[2019-10-07 20:48] ArthurData commented on #171
Yes, i think so :)

[2019-10-07 20:50] fmmattioni commented on #159
Another comment: this only is going to work if you have the following option in the `application.yml` in shinyproxy:

[code]
As @VincentGuyader pointed out, if we keep the default settings (iframe), this isn't going to work.

[2019-10-07 21:11] VincentGuyader opened #197 "golem:::get_sysreqs("tidyverse") should return libcurl*"
the `golem:::get_sysreqs("tidyverse")` miss the system requirements to `libcurl4-openssl-dev`...

[2019-10-07 21:14] fmmattioni commented on #159
I guess a definite solution would be the authors from shinyproxy modifying the HTML template here:

https://github.com/openanalytics/shinyproxy/blob/f4576055af7f51934470ada82bbf07b5d5fc65df/src/main/resources/templates/app.html#L26-L33

I don't know how, but it would make sense for this template to include the

`<link rel="shortcut icon" href="www/favicon.png">`

But now the problem would be that

[2019-10-08 04:15] cparsania commented on #145
I am facing problem to what mentioned above. I am using workflow 2) as generated by the function `golem::add_dockerfile()` given in the 03_deploy.R.  I am using `rocker/r-apt:bionic` instead of `rocker/tidyverse` and also added necessary libraries to the `Dockerfile`.  THe final line on the Dockerfile is `CMD R -e "options('shiny.port'=8080,shiny.host='127.0.0.1');FungiExpresZ::run_app()"` The ima

[2019-10-08 06:33] VincentGuyader commented on #145
Hi

Can you please show us :

Your dockerfike
Le complete `docker run` instruction you use

And the `docker logs <conaiterid>` you have after launching your docker.

[2019-10-08 06:49] cparsania commented on #145
Hi, it was very silly mistake. After taking dig into container-host port expose I figured it out. I did not mentioned option `-p` while running  the container. So final docker file i used is

[code]

and command to launch the container is `docker run -p 3232:80 myApp:tag`

This solved the problem.

Thanks a lot.

[2019-10-08 08:49] zwycl commented on #155
Basically, we want some kind of `mapply` function that does not destructure lists and only applies to vectors, yes?

[2019-10-08 09:48] zwycl commented on #155
I'm not sure about but perhaps it's better to refactor `invoke_js`, into two functions - `invoke_js` which takes in lists as a JSON sort of argument list for `sendCustomMessage` and `map_invoke_js` which takes in lists as in multiple things we want apply to `sendCustomMessage`.

So code would be like the following:
[code]

[2019-10-08 11:22] ColinFay commented on #155
That's, like, a perfect idea 💡

[2019-10-08 16:28] ColinFay opened #200 "UI functions should have a request parameter"
The function in app_ui and in the generated modules should come with a request parameter for bookmarking.

[2019-10-08 16:31] ColinFay opened #201 "Remove stringr dependency"
We should remove the stringr dependency which is just used once for str_remove_all()

https://github.com/ThinkR-open/golem/blob/master/NAMESPACE#L66

[2019-10-08 16:48] ColinFay commented on #201
The only time we use it is : https://github.com/ThinkR-open/golem/blob/1c31dc932a30cfb85b9231879842091c5da960c2/R/create_golem.R#L63

[2019-10-08 17:21] TomerPacific commented on #201
@ColinFay , I'd like to help. Apart from removing the dependency, what would like to replace the current usage?

[2019-10-08 18:39] ColinFay commented on #201
Thanks @TomerPacific!

You're now assigned to it :)

As far as I know the `stringr::str_remove_all` can be replaced by a `gsub`:

[code]

<sup>Created on 2019-10-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-10-08 21:35] TomerPacific commented on #201
@ColinFay ,

I opened a [PR](https://github.com/ThinkR-open/golem/pull/202).

Let me know if it checks out.

[2019-10-08 21:45] statnmap commented on #196
Infos here: https://github.com/r-lib/pkgdown/issues/1158

[2019-10-08 21:45] #196 closed

[2019-10-08 21:59] statnmap commented on #182
PR accepted in {thinkrtemplate}.  Github icon back.
Thank you.

[2019-10-08 21:59] #182 closed

[2019-10-09 17:47] dshelldhillon commented on #127
Sorry! Yes it worked - thank you so much for this package!

[2019-10-09 17:48] #127 closed

[2019-10-09 19:31] ColinFay opened #207 "Function idea : app_deps"
We regularly call `system.file("blalba", package = "myapp")`.

it would be nice to have a wrapper around this by default.

[2019-10-10 04:10] rpodcast opened #210 "Storing secure API credentials in a golem app?"
As I continue to convert more of my apps to {golem}, I found one area that I'm not quite sure how to handle.  Some of my apps deployed on an internal Shiny Server Pro had to connect to some kind of service (say API or database) and my solution was to create a `.Renviron` in the app's root directory with the credentials, and ensure that the file was __not__ tracked by Git, yet it would be included

[2019-10-10 05:41] cderv commented on #210
I just chime in to share my practice on this one, even if it is not golem specific, but golem compatible for sure. That way, I'll see if I am the only one doing this.

I often usethis [config](https://github.com/rstudio/config) 📦  to store configuration. I like very much the fact that I can have one file to store every configuration for different environment, and it will activate automatically dep

[2019-10-10 08:06] ColinFay opened #212 "RStudio Shortcuts for opening files"
We should have a series of RStudio Shortcuts (in an Addin) to go to common files, built on top of `{rstudioapi}`.

For example:

[code]

[2019-10-10 08:21] ColinFay opened #214 "Update NEWS & bump version"
Just a reminder to myself to bump the version and update the news.md

We should be able to release a new version by the end of the month

[2019-10-10 09:08] ColinFay opened #215 "Create a add_run_dev_module"
We should have a function that allows to create a run_dev for a specific module, called `add_run_dev_module`.

[2019-10-10 21:05] robertoromor commented on #161
Went on to learn everything about package creation, as recommended by Vincent, to fill up gaps before applying your fix, to learn that I just needed to move the file from the Dev folder where I had it to the R folder. Still everything makes more sense when you dig deeper into package development.
Thanks!

[2019-10-10 21:05] #161 closed

[2019-10-11 08:31] ColinFay opened #219 "document and reload should use goleù_wd() and fail gracefully"
We shouldn't use `.` here https://github.com/ThinkR-open/golem/blob/master/R/reload.R#L36 but `get_golem_wd()`, as in https://github.com/ThinkR-open/golem/blob/master/R/add_deploy_helpers.R#L81

[2019-10-11 08:42] j450h1 commented on #219
I'd like to take this one.

[2019-10-11 08:50] ColinFay commented on #219
Sure, thanks !

[2019-10-11 09:07] j450h1 opened #220 "devtools::check() - 1 failure - 1. Error: test document_and_reload (@test-zreload.R#12)"
I decided to do this check before making changes on another issue and I noticed 1 failure before even making any changes. Not sure if this is important or not?

```> devtools::check()```

[code]

[2019-10-11 09:18] j450h1 commented on #220
I must have made some unintentional change

[2019-10-11 09:19] j450h1 commented on #220
Never mind I still get this error after making the change:

[code]

[2019-10-11 09:26] j450h1 commented on #219
Done! See https://github.com/ThinkR-open/golem/pull/221 for details

[2019-10-11 10:36] ColinFay commented on #220
Thanks, I'll assign this to myself to check why the tests are failing on the current version of dev

[2019-10-11 10:37] ColinFay commented on #220
Note to self, failing since f11cd0b31a6551e340a4bf56c84065420c95510b

[2019-10-11 12:55] novica commented on #212
I will work on this one next.

[2019-10-11 13:27] ColinFay opened #222 "Allow to build the tar.gz when creating the dockerfile"
The Dockerfile needs a tar.gz version of the app, so it would make sense to build this tar.gz when creating the Dockeriles

[2019-10-11 14:13] ColinFay opened #223 "App fails to run if www/ is empty"
Following https://twitter.com/therealpsmst/status/1182655124482777089:

The app fails to run if the inst/app/www is empty, as addResourcePath doesn't find the folder.

My guess is that R doesn't integrate the empty folders when compiling the package.

reprex:

[code]

Then go to your browser :

[code]

The www is indeed empty:

[code]

[2019-10-11 20:39] novica commented on #212
Does this make sense: https://github.com/novica/golem/commit/4760b8f295fdbd78da58612688370d42be9601fd ?

[2019-10-12 20:30] novica commented on #63
How about line 74-75 in `create-golem.R`:

[code]

[2019-10-13 12:10] fmmattioni opened #226 "Internal function golem:::dock_from_desc() doesn't recognize `Remotes`"
I have noticed that the internal function `golem:::dock_from_desc()` creates the `Dockerfile` with all the packages from `DESCRIPTION` as `RUN R -e 'remotes::install_cran("xxx")'`.

If I have for example:

[code]

And if I run `golem::add_dockerfile()`, `golem::add_dockerfile_shinyproxy()`, or `golem::add_dockerfile_heroku()`, the resulting `Dockerfile` will have the following line:

`RUN R -e 're

[2019-10-13 14:56] VincentGuyader commented on #226
Hi,
I m already working on it on branche "issue_175".
I need to fin a few hours to finish this.

Regards

[2019-10-13 14:59] fmmattioni commented on #226
Oh, my bad! I was careless in double checking existing issues related to this.

Thank you for the feedback!

[2019-10-13 18:42] ColinFay commented on #226
Yes, you can check https://github.com/ThinkR-open/golem/pull/190 for more info.

We're working on refactoring the Docker creation :)

[2019-10-13 18:50] ColinFay commented on #63
Mmh, I think we should go for a simple `cat_line` here instead of printed three lines.

Also, I think the folder where the app was created would be nice :)

[2019-10-13 18:54] ColinFay commented on #212
This + app_ui / app_server / run_app and that's exactly what I had in mind :)

[2019-10-13 18:54] #219 closed

[2019-10-13 18:55] #200 closed

[2019-10-13 18:55] #201 closed

[2019-10-13 18:59] #155 closed

[2019-10-13 19:00] #171 closed

[2019-10-13 19:00] #167 closed

[2019-10-13 19:01] #166 closed

[2019-10-13 19:01] #108 closed

[2019-10-13 19:51] ColinFay opened #227 "golem::add_js_file should allow to include $(function()"
Maybe with a param, but we should create the JS file with :

[code]

[2019-10-13 20:15] novica commented on #63
If I understood correctly, this is it: https://github.com/novica/golem/commit/cc7f24ff469bb43258c7ca83bb34c164013aea70

[2019-10-13 20:37] novica commented on #212
This is it I think: https://github.com/novica/golem/commit/ee33beed4a11d6c3a010ad3e2cef8f773d4b3a10

[2019-10-14 07:11] ColinFay commented on #212
Perfect, thanks!

Can you add yourself as a contributor in the DESCRIPTION file at the same time?

[2019-10-14 07:12] ColinFay commented on #63
Perfect, thanks!

[2019-10-14 13:58] novica commented on #212
Should I make the PR to dev?

About the DESCRIPTION file: I'm not sure how to do that, there isn't a section contributors as far as I can see.

[2019-10-15 11:19] ColinFay commented on #212
Yes, please PR.

For the DESCRIPTION, you can add :

[code]

Just before :

https://github.com/ThinkR-open/golem/blob/master/DESCRIPTION#L25

If you prefer not to add yourself, feel free to skip it :)

Colin

[2019-10-15 14:57] thiloshon opened #228 "Golem Shiny App inside Docker Breaks"
Running a Shiny App create with Golem inside Docker throws the following error.

[code]
A non-Golem Shiny app in the same container, works fine. Any idea why this happens or how to fix this?

R/run_app.R
[code]

inst/app/ui.R
`bddwc.app:::app_ui()`

inst/app/server.R
`bddwc.app:::app_server`

[2019-10-15 18:19] gadenbuie commented on #227
Along these lines, it could also be useful to insert a `$(document).ready()` template.

I'd also request vanilla JS options, although it starts to get difficult to fit all that in one function argument.

[2019-10-15 18:22] gadenbuie opened #231 "golem::add_js_file() should not duplicate file extension"
A minor issue: `golem::add_js_file()` will add an extra `.js` if one already exists on the input name.

[code]

I was expecting it to work like `usethis::use_r()`

[code]

[2019-10-15 18:47] ColinFay commented on #231
That definitely shouldn't happen.

I think wrapping the file name in `tools::file_path_sans_ext()` would solve that.

We might have the same thing happening with the other file creators.

I will give it a shot, thanks for reporting that!

[2019-10-15 21:04] novica commented on #89
I will try to do this one next.

[2019-10-16 10:51] fmmattioni commented on #159
OK, I finally got it working doing some modifications in the html template from shinyproxy. I know this is nothing related directly to `golem`, but I just wanted to mention that a fix is possible with some `HTML` and `JS` adjustments.

[2019-10-16 19:40] ColinFay commented on #89
Hey,

I think @shahryary started to work on this in https://github.com/ThinkR-open/golem/pull/185

@shahryary, what we need here would be this — not printing in red the text, but adding a red bullet, as usethis does, for example here with the "Modify". Do you want to work on this one?

[2019-10-16 19:49] #212 closed

[2019-10-16 19:52] #63 closed

[2019-10-16 19:53] #223 closed

[2019-10-16 20:01] #120 closed

[2019-10-17 07:31] shahryary commented on #89
Hi,
@ColinFay  I'm working on it.

[2019-10-17 11:04] shahryary commented on #89
@ColinFay
I modified message in golem::use_favicon() (now using red dot ) just please check it, if everything is fine then I can work on other messages. Thanks!

[2019-10-17 11:20] ColinFay opened #235 "set_golem_wd() should also usethis::proj_set()"
`set_golem_wd()` should also do `usethis::proj_set()` after `options("golem.wd" = path)`

[2019-10-17 14:28] thiloshon commented on #228
I apologize for the noice. This is caused because of using the standard TCP port 875. Was able to fix by changing the port number.

[2019-10-17 14:28] #228 closed

[2019-10-17 19:36] ColinFay commented on #235
Ok, so it's not that simple 🤔

This issue is because if we're setting golem dir to another one, usethis will still use the original directory (as it gets the project root, whatever folder you try to specify to usethis).

So for example, doing `set_golem_wd("dev/")` and `usethis::use_r()` will work as usethis will add the project root, not dev, even if we set usethis is use dev as a proj root.

[co

[2019-10-17 21:07] novica commented on #207
I don't understand what is needed here. After looking at the code, the only place I can see `system.file("blalba", package = "myapp")` is in `utils.R`, and it is in a function. Can you clarify the issue?

[2019-10-18 09:34] ColinFay commented on #207
The idea here is to use it in the generated project.

For example, in this app https://github.com/ColinFay/tidytuesday201942/blob/master/R/mod_about.R#L20 I reuse

[code]

four times, where I could have created a wrapper function in the spirit of the internal `golem_sys()` function.

Would be nice to have an "app_sys" function in golem that can be reused, so that way we can have it at https://gith

[2019-10-18 09:44] ColinFay commented on #89
Mmh, so the convention in usethis is :
- The user doesn't have anything else to do => print the info with a green tick
- The user still have something to do => print the info with a red dot.
I just realised the original issue was pretty unclear, sorry.

So here we would switch to
[code]

to

[code]

As the user has something to do: set the favicon in the app_ui

[2019-10-18 11:33] ColinFay commented on #89
The idea with this issue is to check all the times golem prints things to the console, and check that it follows this convention :

- green tick: the user has nothing to do
- red dot: information about the fact that the user has to do something
- rule: title of the information
- line: information
- bullet: when using list in information
- cross: error

For example:

![Screenshot 2019-10-18 at 11 5

[2019-10-18 12:48] ColinFay commented on #231
Close by https://github.com/ThinkR-open/golem/pull/236.

Thanks for the bug report !

[2019-10-18 12:53] ColinFay opened #237 "Rely on get_golem_wd() everywhere for package path"
Not on `pkg = "."`

Just as the other functions https://github.com/ThinkR-open/golem/blob/master/R/add_modules.R#L19

found in :
+ use_utils_ui
+ use_utils_server
+ use_recommended_deps
+ use_recommended_tests
+ use_favicon

[2019-10-18 12:54] ColinFay opened #238 "Update documentation about default parameters"
Following #237, we should check everywhere the package is still documented as using `.`.

For example: https://github.com/ThinkR-open/golem/blob/master/R/add_modules.R#L7

[2019-10-18 13:02] ColinFay commented on #235
After going back and forth on this, I think we should make `set_golem_wd()` behave just as `usethis::proj_set` so that we can sanely make the two work together

[2019-10-18 13:34] #231 closed

[2019-10-19 20:42] novica commented on #207
Does this make sense? https://github.com/novica/golem/commit/b7a0aff06ab7a95d769177558ddd34b8d4f608a5

[2019-10-21 11:27] ColinFay opened #241 "golem::add_ function should allow to open the file if the file already exists"
https://github.com/ThinkR-open/golem/blob/master/R/utils.R#L44

check_file_exist should open the file if it exists.

I think we should not suggest to override the file.

[2019-10-21 19:00] ColinFay commented on #207
Ok, that it, except that you should export the app_sys() function so that it's available for the end user :)
(The idea is to make it usable inside your app, so it should be exported)

[2019-10-21 19:40] novica commented on #207
Yes. I knew I forgot the export as soon as I made the commit.

[2019-10-22 14:20] VincentGuyader opened #243 "missing dots in documentation in `inst/shinyexample/R/run_app.R `"

[2019-10-22 14:26] VincentGuyader opened #244 "add rsconnect folder into .Rbuildignore"

[2019-10-22 21:43] VincentGuyader opened #247 "unit testing on add_module is broken"
test-add_module.R:5: error: add_module
menu() cannot be used non-interactively

[2019-10-22 21:44] VincentGuyader commented on #247
only on dev branche

[2019-10-23 08:06] VincentGuyader opened #248 "pacakge name is "." when using golem::create_golem(path = ".") without using pacakge_name"
use `golem::create_golem(path = ".",package_name = "nametrend")`

instead of golem::create_golem(path = ".",check_name = FALSE)

-> add a message to avoid

  golem::add_resource_path(
    'www', system.file('app/www', package = '.')
  )

[2019-10-23 08:16] ColinFay commented on #248
It's also FALSE when created from command line.

And if you specify a non valid package_name with check_name false the DESCRIPTION is invalid

[2019-10-23 14:56] novica commented on #247
I saw this. I think it is because the code
[code]
shows twice in the file: lines 7-10 and lines 24-27.

It doesn't look to me like both are needed. Commenting out one of these chunks doesn't return errors on test.

[2019-10-23 15:36] ColinFay commented on #247
Yeah having it twice will trigger a yesno which is (right now) failing when used non interactively.

@novica would you be willing to do a PR as you've got it ready?

And thanks for checking :)

[2019-10-23 19:23] VincentGuyader commented on #247
I'm on it.

[2019-10-23 19:45] ColinFay opened #251 "Remove `get_dependencies`"
We should advice to use `desc::desc_get_deps()` instead

[2019-10-23 20:49] #251 closed

[2019-10-23 20:58] ColinFay commented on #247
now pass

[2019-10-23 20:58] #247 closed

[2019-10-23 20:59] #244 closed

[2019-10-23 20:59] #243 closed

[2019-10-23 21:00] ColinFay commented on #207
implemented

[2019-10-23 21:00] #207 closed

[2019-10-23 21:04] ColinFay commented on #237
implemented

[2019-10-23 21:04] #237 closed

[2019-10-23 21:05] ColinFay commented on #220
good now

[2019-10-23 21:05] #220 closed

[2019-10-23 21:07] #180 closed

[2019-10-23 21:07] ColinFay commented on #130
implemented

[2019-10-23 21:07] #130 closed

[2019-10-23 21:08] #189 closed

[2019-10-23 21:09] #175 closed

[2019-10-23 21:25] novica commented on #247
Apologies for not being able to answer sooner.

By the way, I was looking into this because I was trying to figure out if other tests are needed, so maybe you can suggest how to go about finding the parts of the code that still need testing?

[2019-10-24 06:58] ColinFay commented on #247
@novica if you want to watch the code coverage, you can check :
https://codecov.io/gh/ThinkR-open/golem, especially https://codecov.io/gh/ThinkR-open/golem/tree/master/R where you have the detail line by line of the code covered by tests.

It's kind of hard to go for a 100% code coverage in golem as there are functions that appears only when used in the final app.

But enhancing the current code c

[2019-10-27 10:03] VincentGuyader commented on #248
we may use `rstudioapi::getActiveProject()` as default name if `path='.'`

[2019-10-27 11:35] ColinFay commented on #248
That won't work outside of RStudio though

[2019-10-27 11:39] ColinFay commented on #248
I think we'd better use `{rprojroot}` there so that it also works when not in an RStudio project https://github.com/r-lib/rprojroot

[2019-10-29 09:10] kuty-kajot opened #255 "Error: (converted from warning) package ‘golem’ is not available (for R version 3.5.3)"
Hi. When building a Dockerfile for golemized shiny app it stops at:
`
remotes::install_cran("golem")
Installing 1 packages: golem
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
Error: (converted from warning) package ‘golem’ is not available (for R version 3.5.3)
Execution halted
The command '/bin/sh -c R -e 'remotes::install_cran("golem")'' returned a non-zero c

[2019-10-29 09:14] ColinFay commented on #255
When using a Dockerfile based on `rocker/r-ver:3.5.3`, you'll get a repo fixed on a MRAN date.

MRAN are snapshots of the CRAN on a specific day. The 3.5.3. docker image is compiled with a specific date of this snapshot, which will not contain golem as it was released after this date.

This will be fixed by the newer version of golem (soon to be released) which no longer uses this snapshot date.

[2019-10-29 09:16] kuty-kajot commented on #255
Changing to `remotes::install_github("Thinkr-open/golem")` solves the problem.

[2019-10-29 09:17] kuty-kajot commented on #255
Thanks for the quick reply Colin. It does not seem to be much of a problem. Great package!

[2019-10-29 09:24] VincentGuyader commented on #255
@kuty-kajot have a lot to the `dev` branche, the new `add_dockerfile` function is better about this.

Regards

[2019-10-29 10:05] VincentGuyader opened #256 "allow golem::fill_desc to use `person` vector"
IE :

[code]

[2019-10-29 22:51] VincentGuyader opened #258 "golem::app_sys dont work with devtools_shims"
after running `devtools::load_all()`

`golem:::app_sys('app/www')` will return `""`

but
`system.file('app/www', package = golem:::get_golem_name())`
[1] "D:/xxx/inst/app/www"

[2019-10-30 07:57] ColinFay commented on #258
Ok issue here is the use of system.file inside the exported function, which is the base::system.file, not the one shimed by pkgload.

That should work if app_sys is exported in the template, not in golem itself

[2019-10-30 12:00] kuty-kajot opened #259 "Error with building package after using golem::add_dockerfile()"
Hi guys,
I encountered a weird behavior when building golem package. It might be due to my incomplete understanding of the whole process, tho.

Basically, once I create a docker file using golem::add_dockerfile() I am unable to build a package using devtools::build() due to error occuring. Even if I remove the file and restart the R session, the same error occurs. The function golem::add_dockerfil

[2019-10-30 12:02] ColinFay commented on #259
Hey,

This is due to a bug in `golem::add_dockerfile()` which has been corrected in https://github.com/ThinkR-open/golem/pull/152

Can you change in your .Rbuildignore :
`^C:\\Users\\kuty\\.jiri\\Documents\\R\\golgol/Dockerfile$`
to
`^Dockerfile$`

And retry?

[2019-10-30 12:23] kuty-kajot commented on #259
Thanks Colin! This solves the problem.

[2019-10-31 17:47] xari commented on #163
Hey; I'm just checking in to see whether there's been any development regarding `shiny.autoreload`.

@Cervangirard —I had a quick look through 06b0326, but couldn't really tell whether it addresses the `shiny.autoreload` option.

I asked a question on StackOverflow to see whether anyone else out there has any experience with `shiny.autoreload` in `{golem}`:

https://stackoverflow.com/questions/586

[2019-10-31 19:08] VincentGuyader opened #260 "some sysreqs are missing"
even if `data.table` is explicitily asked, the zlib1g-dev deps is not found
[code]

I think thats because there is too much package in one call, because

[code]

works well

[2019-10-31 20:13] VincentGuyader opened #262 "add_dockerfile"
when a pacakge it twice in `DESCRIPTION` both in Imports ans Remotes, it add this package twice in the `Dockerfile`

[2019-11-01 20:50] ColinFay commented on #163
hey @xari

Sorry for the late reply about this.

As far as I can tell your question isn't related to the original topic of this issue so I'd rather move that conversation to another one :)

[2019-11-01 20:51] ColinFay opened #263 "shiny.autoreload in {golem}"
As of right now, `options(shiny.autoreload = TRUE)` doesn't work with golem

[2019-11-01 20:52] ColinFay commented on #263
Related SO question by @xari https://stackoverflow.com/questions/58648662/autoreload-in-golem-apps-shiny-option-doesnt-work

[2019-11-01 21:04] #258 closed

[2019-11-01 21:16] #260 closed

[2019-11-01 21:22] #248 closed

[2019-11-01 21:30] ColinFay commented on #248
I think there is something weird with the current implementation:

[code]

The fact that the package is created in `.`, the folder is said to exist already, so we override it in a sense but don't rename it 🤔

Well, that's kind of a fringe case so I'll be able to live with it for now 😛

[2019-11-01 21:37] ColinFay commented on #256
I think this is related to `{desc}` who can't take this vector.

Maybe the PR should be done in `{desc}` instead of in `{golem}`?

For now we can :

[code]

[2019-11-01 21:38] ColinFay commented on #256
Pinging @gaborcsardi here.

Do you think this should be a feature supported by `{desc}`?

[2019-11-01 21:39] ColinFay commented on #255
Solved, so closing now

[2019-11-01 21:39] #255 closed

[2019-11-01 21:42] gaborcsardi commented on #256
Well, I guess, especially if you create a PR. :) But you can also just use `$set()`, maybe?

[2019-11-01 22:33] ColinFay commented on #263
Ok so as far as I can tell it's because this behavior is triggered by `shiny:::initAutoReloadMonitor`, which is triggered when running a "standard app" in a directory with runApp, which is not triggered by the current implementation of golem.

For example, if I create a new golem, delete the R/ folder, create a shiny app in a folder called R and do :

[code]

The option works as expected.

And :

[2019-11-04 08:15] ColinFay commented on #85
We should have a config.yml in inst/, and a function that is natively in the golem app called `get_golem_config()`

[code]

[2019-11-04 12:32] Nabzoouu opened #266 "Add possibilityt to specify proxy in the dockerfile creation tools"
the goal is to have this kind of Dockerfile :

[code]

[2019-11-04 12:44] ColinFay opened #267 "PKG::run_app shouldn't be explicitely namespaced"
I think one of the common issue is that failing run_dev still launches the app due to `pkg::run_app()`, which is still able to run even if the app is not correctly loaded.

I think the explicit namespacing here is not useful, and would help preventing some mistakes.

[2019-11-04 13:40] #259 closed

[2019-11-04 13:42] VincentGuyader opened #269 "add_dockerfile should be able to create a Dockerfile which can build the golem from sources"
for example like  this :

[code]

[2019-11-04 13:52] ColinFay commented on #266
Hey,

Thanks for the idea 💪

I think the smart way to do this would be to have a parameter that allows to pass environment variables, regardless of the content. So something like:

[code]

Which would create:

[code]

So that it's virtually possible to add any env var, not just the one for proxy, and wouldn't pollute with endless parameters to the function :)

[2019-11-04 14:09] cderv commented on #85
Why playing with the env var and not using the argument `config` in `config::get` ??

Also, why not depending only on how user configures there environment and use the same default as `config` 📦 .

golem could just change the default path to find the file (in `inst`) ?

All the rest would be the same as using {config} on its own.

[2019-11-04 14:30] cderv commented on #266
Just curious @Nabzoouu :

why not pass the proxy environment variable at run time
[code]
or build time
[code]

or even using `docker-compose` to build and run the docker images ?

This feels like the kind of information that should not be in a dockerfile because it is dependant on where the images in run. 🤔

[2019-11-05 19:39] ColinFay opened #270 "Integrate the {prague} package"
Here are the functions that will me migrated to `{prague}`:

- `add_resource_path`
- `activate_js`
- `invoke_js`
- `inst/utils/golem-js.js`
- `with_golem_options`
- `get_golem_options`
- `favicon`
- the `dev_` suite from `make_dev`

We'll keep these for backward compatibility as `prague-export` but the new golem will rely on `{prague}` for these ones.

[2019-11-05 19:52] ColinFay opened #271 "set_app_prod() & set_app_dev()"
We should have two functions to do that

[2019-11-05 20:28] ColinFay commented on #85
Ok, just tried a few things and you're definitely right @cderv.

So we should have sthg like `inst/golem-config.yml`

and something like `app_config.R` with in it

[code]

[2019-11-07 19:57] ColinFay commented on #269
Is the idea to have the source pkg in `/build_zone`?

As far as I see it we should default to this behaviour: copy the source app folder inside the docker and use install_local("folder") instead of relying on the tar.gz.

Using the tar.gz adds a little bit of complexity bcs :
- You need to either `devtools::build()` and copy and paste the tar.gz next to the Dockerfile, so either the dockerfile has

[2019-11-08 22:16] ColinFay commented on #267
I don't think it should be explicitely namespaced in the app_ui either

i.e.

[code]

[2019-11-08 22:25] ColinFay commented on #241
This should be solved by switching to fs::file_create instead of file.create

[2019-11-09 15:07] VincentGuyader commented on #269
its's easier to give someone a `tar.gz` file and and Dockerfile, than a folder containing a Dockerfile and a lot of other file :)

[2019-11-09 16:11] ColinFay commented on #269
Well, strictly speaking it's easier to bundle the dockerfile + the folder inside on tar 😎🙊

trolling aside, I think it's no good practice to invite users to create the Dockerfile inside the pkg root, as it will also implies that one need put the targz there, leading to a pkg tar inside itself, which is weird.

Also

add_dockerfile();devtools::build()

Exports in different folders, so if we want bo

[2019-11-09 20:48] VincentGuyader opened #273 "if `build_golem_from_source == FALSE` the .tar.gz file should directly be created or updated"
in `add_dockerfile` if `build_golem_from_source  == FALSE` we wrote in the console :

[code]

maybe we sould directly launch `devtools::build(path = ".")` (and delete the previous tar.gz file if new version)

[2019-11-10 07:22] VincentGuyader opened #275 "add_dockerfile should open the Dockerfile in the IDE"

[2019-11-10 20:52] tleers opened #277 "Are golem and shinydashboard incompatible?"
Is there any way to combine golem and shinydashboard?

If I use:
ui <- tagList(dashboardPage(
  dashboardHeader(),
  dashboardSidebar(),
  dashboardBody()
))
I can run the app, and everything works fine, except for the fact that all content from different tabs are put into a single page. In other words, the switching between tabs, a crucial feature of shinydashboard, no longer functions.

If I do

[2019-11-10 22:34] VincentGuyader opened #278 "add && rm -rf /var/lib/apt/lists/* to the Dockerfile created"

[2019-11-10 23:09] VincentGuyader opened #279 "Error in golem::get_sysreqs()"
Error in sort.int(x, na.last = na.last, decreasing = decreasing, ...) :
  'x' must be atomic

when
[code]
if `out == list()` , you cant do `sort(list())`

[2019-11-11 18:07] hadley opened #281 "Failure with dev roxygen2"
Any idea what's going wrong here?

[code]

[2019-11-12 13:53] hadley commented on #281
This is holding up the roxygen2 release, so I'd really appreciate it if you could take a quick look. I'm not sure why my revdep checks didn't pick it up; possible because I ran on a case-insensitive file system?

[2019-11-12 14:04] DianeBeldame commented on #281
Hi,
yesterday was public holiday in France, @Cervangirard is working on it at present

[2019-11-12 14:54] Cervangirard commented on #281
Hi,
With the roxygen2 master and the golem CRAN version, I can't reproduce this problem. Do you use a different version of the packages ?

[2019-11-12 15:01] hadley commented on #281
I didn't see the problem either; this is from CRAN 😞

I can let CRAN know that we can't reproduce the problem, and so it's probably unrelated to roxygen2?

[2019-11-12 15:03] DianeBeldame opened #282 "Provide support for `{renv}` users"
Assess how to help `{renv}` users with `renv.lock` files

[2019-11-12 15:16] ColinFay commented on #281
Ok, got it: this is an issue with how the `{golem}` tests work:

We are creating randomly generated names for the package & the folder, but this part:

[code]

catches the `kksjzuifpm/ui.R` and `kksjzuifpm/server.R` because the randomly generated folder contains the `ui` pattern (`kksjzuifpm`). Hence `expect_equal` fails as there are two elements in `tools::file_ext(script)` instead of just one.

[2019-11-12 15:27] hadley commented on #281
Ok, great, thanks!

[2019-11-12 15:30] ColinFay commented on #281
You're welcome! Thanks for reporting this issue.

Corrected in https://github.com/ThinkR-open/golem/commit/95302d4ad14e618c05ab943dc48082a880564835

[2019-11-12 15:30] #281 closed

[2019-11-14 20:36] ColinFay commented on #277
Hey,

An app built with `{golem}` is a shiny app and every template will work with `{golem}`.

Here is an example of a shiny dashboard example built with `{golem}`: https://github.com/ColinFay/golemize/tree/master/shiny-dashboard

Can you tell me more about what you're doing differently?

[2019-11-15 12:13] ColinFay commented on #85
@cderv would you be willing to have a look to the new implementation with `{config}`?

It's in the `dev` branch. Details are provided in the `config` Vignette.

Thanks :)

[2019-11-15 13:08] ColinFay opened #285 "Switch path and file creation to fs"
paths and files creation should be done based on `{fs}`

[2019-11-15 13:20] cderv commented on #85
I'll do that this week end or next week. Thanks !

[2019-11-15 13:26] cderv commented on #285
Take care of the change of definition for `home` in R depending on the OS.
TL;DR `~` in fs 📦  on windows does not mean the same thing as base R.
You may already know about that.

Otherwise:

* This is explained in help page: https://fs.r-lib.org/reference/path_expand.html#details

* This can be tricky. With usethis, the default is `fs` definition and this can be tricky sometimes. I need to use `pa

[2019-11-15 21:16] #279 closed

[2019-11-15 21:17] #269 closed

[2019-11-15 22:49] #273 closed

[2019-11-15 22:49] #275 closed

[2019-11-16 07:53] VincentGuyader commented on #85
in the golem-config.yml i see :

  golem_wd: !expr here::here()

but no @import here anywhere and noting in DESCRIPTION

[2019-11-16 08:02] VincentGuyader opened #288 "@param are missing in some R files inside shinyexample"
missing `@param request` here :

and missing `@param` here :

[2019-11-16 08:13] VincentGuyader commented on #288
the request parameters was here in a previous commit...

![image](https://user-images.githubusercontent.com/10470699/68990222-03f54400-0851-11ea-9da9-439e4bb646cc.png)

[2019-11-16 08:27] VincentGuyader opened #290 "We should add test to be sure that a brand new created golem pass the check"
[code]

[2019-11-16 08:28] ColinFay commented on #288
That was removed on purpose : app_ui is not exported so we don't need to document that param.

 if ever we chose to document that, we need to document to app_server params too in order to be consistent in the way we promote the way golem elements are documented.

[2019-11-16 08:31] VincentGuyader commented on #288
yes, but with this solution, you dont pass the check.
Im ok to use `noRd` but every parameters sould be documented

[2019-11-16 08:33] VincentGuyader commented on #85
![image](https://user-images.githubusercontent.com/10470699/68990494-1cb32900-0854-11ea-961d-674316820e57.png)

[2019-11-16 08:34] ColinFay commented on #85
It won't need to be @import as it is explicitely namespaced in the yaml, but indeed I forgot to push the update to DESCRIPTION.

[2019-11-16 08:53] ColinFay commented on #85
pushed ✅

[2019-11-16 17:15] novica opened #291 "Refactor test files so each test file corresponds to proper R file"
Discussion here: https://twitter.com/_ColinFay/status/1195741989502947329

[2019-11-16 21:22] novica commented on #291
OK. Started working on this here: https://github.com/novica/golem/tree/issue-291

I also noticed that the test files begin with ```context()```

Didn't know what that was, but I checked and it seems it is no longer [necessary](https://www.rdocumentation.org/packages/testthat/versions/2.2.1/topics/context). Should I remove these lines completely?

[2019-11-16 21:31] ColinFay opened #292 "Internal function should be documented and flagged with @noRd"
All internal functions should be documented (in order to help sharing code) and be flagged with `@noRd`.

add_module(..., export = FALSE) (default), should be documented and with `@noRd`.

also :
- `app_sys()`
- `get_golem_config()`
- `app_server` / `app_ui`

[2019-11-18 08:28] VincentGuyader opened #293 "Update documentation about the add_dockerfile* functions"
improve the vignette

[2019-11-19 20:21] ColinFay opened #294 "Check for missing ns()"
When running `document_and_reload()`, we could check if any `ns()` is missing from the code base.

[2019-11-19 21:29] ColinFay opened #295 "add_www_file"
We now restrict the usage of add_*_file to css and js but other elements could be put there.

I suggest we add a generic `add_www_file` that can take any file and add it in the www folder.

[2019-11-19 21:34] ColinFay opened #296 "Should we handle npm install?"
I wonder if we should handle npm installs inside golem so that the js and css files go to the right place

[2019-11-19 21:38] cderv commented on #296
As a user in a company, I share my 2 cents here. The more golem feature will be integrated with other type of software / tools (like docker, npm, ...) the more difficult it will be to use. I am in favor of several options of usage instead of default features integrated deeply with other tools.

I am curious where this will be headed though...

Cheers.

[2019-11-20 07:21] ColinFay commented on #296
Yeah I wasn't sure how to handle that but you're right that we shouldn't handle `npm` itself, yet it would be nice to have a way to set a skeleton for receiving the npm modules.

This idea is born from the fact that if you currently do npm install it will add the node_modules at the root of the package and then it has to be manually moved to inst/app/www.

I was thinking of something like `golem::

[2019-11-20 07:53] cderv commented on #296
Seems like a real helper function that is just of use for those using npm. 👍

I am thinking of some options but not sure how npm is working and what skeleton means really.  So I’ll look into it before saying anything else.

[2019-11-20 20:21] ColinFay opened #297 "[Bug] {shinyBS} doesn't work inside a golem app"
If I create a new golem and use :

[code]

as `app_ui`, the browser returns a series of errors:

<img width="1440" alt="Screenshot 2019-11-20 at 21 18 51" src="https://user-images.githubusercontent.com/17936236/69274809-6c3e7f80-0bdb-11ea-8450-04f526d701d2.png">

preventing `{shinyBS}` from working.

The very same code works in an app.R file (restart session between test to clear cache):

[code]

[2019-11-21 00:12] VincentGuyader opened #298 "add_dockerfile shloud optimise the package installation order"
now it use the alphabetical order, but its not optmal during build.

for example :

[code]
will install twice FactoMineR, first time as factoextra dependencies (with an uncontroled version number), then in install_version("FactoMineR". and that's too bad :)

[2019-11-21 17:18] novica commented on #291
@ColinFay can you have a look at this? I think I have sorted out the filenames of test files so they correspond to filenames of R files.

[2019-11-21 21:53] ColinFay commented on #129
Might be possible to do that through a wrapper around:

[code]

[2019-11-22 21:09] ColinFay commented on #291
Sorry for the late reply, I'll have a look over the weekend :)

For the context() I'd say yes, we've sticked to our old habits and used them but indeed they are not necessary anymore !

[2019-11-25 08:33] ColinFay commented on #291
Looks good to me!

[2019-11-25 19:50] novica commented on #291
Thank you @ColinFay. I really enjoy doing this.

[2019-11-25 20:02] ColinFay commented on #291
Thanks a lot @novica for refactoring this!

[2019-11-25 20:02] #291 closed

[2019-11-25 20:02] ColinFay commented on #129
This should be done by `golem::add_exernal_resources()`

[2019-11-25 20:26] #292 closed

[2019-11-25 20:26] #144 closed

[2019-11-25 20:26] #288 closed

[2019-11-25 20:27] ColinFay commented on #277
@tleers Did you get any chance to have a look at the example?

[2019-11-25 20:44] #267 closed

[2019-11-25 21:34] ColinFay opened #303 "Todo list for `golemLaunch()`"
+ [x] `run_dev.R` shouldn't be inside the created app but in `{golem}` itself

+ [x] `get_buffer()` should be renamed, and use `cat()` instead of print. Maybe try to find a way to print colors.

+ [x] `path` should be passed in `initialize`

+ [ ] The messages should be rewritten

+ [ ] `Sys.sleep()` should be changeable, and we default to `0`

+ [ ] Make `open_app()` default to user's default Vie

[2019-11-25 21:37] ColinFay commented on #115
@VincentGuyader is this one handled?

[2019-11-25 21:40] ColinFay commented on #235
we can also do `usethis::proj_set(path, force = TRUE)`

[2019-11-25 21:42] VincentGuyader commented on #115
not yet

[2019-11-26 07:17] #153 closed

[2019-11-26 07:18] #140 closed

[2019-11-26 07:21] ColinFay commented on #101
Related to #241.

I think the default behaviour should be:
- default is: don't override nor suggest to override it. Just open it.
- if a param is set to "override = TRUE", ask if the user wants to override it.
- no override in non-interactive session.

[2019-11-26 19:59] ColinFay opened #304 "Bundle addins in one file"
`R/addin_functions` and `addins` should be one file

[2019-11-26 20:38] ColinFay commented on #145
Thanks for your inputs :)

This seems solved, closing now!

[2019-11-26 20:38] #145 closed

[2019-11-26 20:50] #304 closed

[2019-11-26 20:51] ColinFay commented on #125
Should be in a standalone package

[2019-11-26 20:51] #125 closed

[2019-11-26 20:56] ColinFay commented on #227
@gadenbuie AFAIK, both the code (`$(document).ready()` and `$(function(){})`) are the very same function.

What's the idea behind providing the option to set the two?

I think we might default to `$(document).ready()` which might be more straightforward

[2019-11-26 20:57] ColinFay commented on #137
I think I can live without changing that

[2019-11-26 20:57] #137 closed

[2019-11-26 21:02] gadenbuie commented on #227
Yup, that's right, so the jQuery IIFE-like is fine. But I agree the other form is more straightforward and is even suggested [in the docs]:

In any case, I completely agree; there's no need to complicate things by providing more than one method.

[2019-11-27 17:14] VincentGuyader opened #306 "add_dockerfile cant manage version with format 1.a-b"
it returns

`RUN Rscript -e 'remotes::install_version("RColorBrewer", version = "1.1.2")'`

instead of

`RUN Rscript -e 'remotes::install_version("RColorBrewer", version = "1.1-2")'`

[2019-11-27 17:24] VincentGuyader commented on #306
[code]
instead of `1.1-2`

[2019-11-27 20:23] #306 closed

[2019-11-27 20:45] #227 closed

[2019-11-27 20:46] ColinFay commented on #227
We now default to having

[code]

In any new JavaScript file.

[2019-11-27 20:54] ColinFay commented on #24
I can reproduce that.

Might be because there exists another older git index which is now corrupted by the creation of new files.

[2019-11-28 11:55] kuty-kajot opened #311 "Deployment with shinyproxy"
Hi guys.

I know it might not be a priority right now, but I am missing some training wheels when deploying golemized shiny as a docker inside shinyproxy.
First of all do these directives still hold for golem https://rtask.thinkr.fr/shiny-application-in-production-with-shinyproxy-docker-and-debian/ ? I mean this matryoshka doll setup of docker inside shinyproxy inside docker :).
Second, when I use

[2019-11-28 20:00] ColinFay opened #312 "Redesign the way we build a golem "here""
So, I think we need to change a little bit the way `{golem}` behaves when the user chooses to build a golem in his current directory.

Following the last changes in `{shiny}`, notably these two PR from @trestletech:

+ https://github.com/rstudio/shiny/pull/2547, allowing to load all "helpers" from the R folder
+ https://github.com/rstudio/shiny/pull/2682, creating a testing framework

There's a go

[2019-11-28 20:45] ColinFay opened #313 "More tests for better code coverage"
[code]

We might be missing some corner cases in the file manipulation, would be nice to cover these.

See also :

https://codecov.io/gh/ThinkR-open/golem

[2019-11-28 20:50] ColinFay commented on #241
Switching to `fs::file_create()` in the `issue-285` branch, will implement this behaviour at the same time.

[2019-11-28 21:00] ColinFay opened #314 "Refactor the add_files file"
Lots of copy and paste here :

https://github.com/ThinkR-open/golem/blob/dev/R/add_files.R

[2019-11-29 02:14] mik3y64 commented on #263
I am having this issue and it's slowing down my development workflow. I did some test too and I suspect it's the issue with Shiny modules? Filed similar issues at shiny but without any help. [autoreload doesn't load with Shiny modules #2711](https://github.com/rstudio/shiny/issues/2711)

My **R/** dir have three files
- R/app.R
- R/shiny_run.R
- R/my_module.R

autoreload works without module

[cod

[2019-11-29 08:47] ColinFay opened #315 "Change utils_ui"
The `includeRMarkdown()` function require `{rmarkdown}` and `{markdown}` as a dependency, which might be heavy for a prod application, and it's a very rare use case.

I think it should be commented by default, with a message to uncomment if needed.

Also, we need to document these functions and add a @ noRd

[2019-11-29 20:26] dwhdai commented on #146
Thanks! Another potential work-around that I have found is using the profvis_ui() and profvis_server() module. There is an example of this at the bottom of this page: https://rdrr.io/github/rstudio/profvis/man/profvis_ui.html#heading-4

[2019-12-03 07:31] ColinFay opened #316 "Placeholders in add_module"
would be nice to have a placeholder in add_module to programmatically fill these:

[code]

For ex:

[code]

Would allow to gsub / str_replace things here

[2019-12-03 10:15] ColinFay opened #317 "Add more deploy destinations"
We should add more destinations for `{golem}` deployment.

For example:

+ Dokku https://github.com/dokku/dokku
+ Google Cloud https://cloud.google.com/kubernetes-engine/docs/tutorials/hello-app
+ AWS https://aws.amazon.com/getting-started/tutorials/deploy-docker-containers/?nc1=h_ls
+ pm2 https://pm2.keymetrics.io/

[2019-12-04 08:52] ColinFay opened #318 "Issue with the golem github reference in the Dockerfile"
Dockerfile fails at :
[code]

[2019-12-11 20:03] moodymudskipper opened #319 "`rsconnect::deployApp()` to optionally ignore some files ?"
First thanks a lot for this package, I think it boosts my learning curve significantly, and gives me confidence that I'm doing things right or not too wrong.

`rsconnect::deployApp()` is not happy because I have big files, it tells me :

The same as what the rstudio blue icon tells me.

I indeed have big files (several gigabytes), that constitute my raw input, and that are referenced in .Rbuildign

[2019-12-11 23:28] VincentGuyader commented on #319
HI,

thanks for your message :)

your concern is more an issue with Rconnect than Golem.

please have a look at : https://github.com/rstudio/rsconnect/issues/368 and https://github.com/ThinkR-open/golem/issues/110  we would all like such functionality !

regards

[2019-12-12 00:24] moodymudskipper opened #320 "should automatic additions to .Rbuildignore use forward slashes on windows ?"
`golem::add_dockerfile()` adds a line of code to `.Rbuildignore` but it uses backslashes which makes `devtools::build()` crash. In my case the line is `^C:\R\00 packages\kpiFRA/DESCRIPTION$` and `devtools::build()` 's error is :

[code]

It might be `devtools::build()` 's fault, but this is solved by changing the backward slashes to forward slashes so maybe it'd be more robust for you to write for

[2019-12-12 12:16] moodymudskipper opened #321 "run_app and datasets not recognized as exported when using docker files"
I created a golem app and tested the deployment on shinyapp.io where it worked smoothly.

Then I created a docker file and tried to deploy it but for some reason it told me `run_app` wasn't an exported function.

This was fixed by replacing in the docker file `mypkg::run_app()` by `mypkg:::run_app()` (adding third `:`).

This is puzzling to me as the "#' @export" line is definitely there (I didn't

[2019-12-15 16:51] tleers commented on #277
@ColinFay Hi Colin, sorry for the late reply. Your example helped me figure out my issue. I didn't use the correct structure in my app. Thanks again!

[2019-12-20 09:09] ColinFay commented on #277
Perfect.

Closing then

[2019-12-22 21:54] ColinFay opened #322 "add_kubernetes_deployment()"
Creates :

- the dockerfile + the tar.gz
- deployment yaml
- service yaml

[2019-12-26 20:55] #285 closed

[2019-12-26 20:55] #241 closed

[2019-12-26 20:59] #316 closed

[2019-12-26 22:07] ColinFay opened #325 "Wrap functions in the dev scripts"
We should refactor this part:

[code]

Into one function

[2019-12-26 22:20] ColinFay opened #326 "Move {rsconnect} to suggests"
Right now rsconnect is a hard dependency, while it should be a Suggests, and check if installed when using the RStudio deploy scripts

[2019-12-30 14:27] henrique1008 opened #327 "Use auth0 R package in Golem App"
Good morning, I'm having trouble incorporating an auth0 authentication package in Golem. It is possible ?

[2019-12-30 17:35] ColinFay commented on #327
Hey @henrique1008

A golem works just like any shiny app, so yes if it's possible in shiny it's possible in golem.

Can you share what you have tried so far?

[2020-01-02 13:04] henrique1008 commented on #327
Good Morning

Sorry for the delay in returning.

I initially tried to change the run_app.R file.

[code]
seguindo as instruções do link: [auth0](https://curso-r.github.io/auth0/index.html)

I will try to build a code example and upload to github in the afternoon.

[2020-01-02 15:47] jtrecenti commented on #327
Hi @henrique1008 , I use `{auth0}` and `{golem}` all the time in my apps without any problems! In my experience, I think the fastest workflow to make them work together would be

0. Create the app normally using `{golem}`

1. add a `_auth0.yml` inside de `inst/app/`, using `auth0::use_auth0("inst/app")` and set up the keys using `usethis::edit_r_environ("project")` (see the README from `{auth0}` f

[2020-01-02 16:01] jtrecenti commented on #321
@moodymudskipper  I also had this problem and solved adding `mypkg::dataset` every time my dataset is called. As in a shiny with many modules this could be painful, I would suggest creating `reactive()` objects to store the `mypkg::dataset` calls and call the reactive when you need the data.

There are other options here: https://coolbutuseless.github.io/2018/12/10/r-packages-internal-and-external

[2020-01-02 18:11] henrique1008 commented on #327
Hi @jtrecenti , I tested, and one thing that didn't work was logout `auth0::logoutButton()`.

I uploaded a repository on github with a test golem with what I did to deploy Auth0 authentication.

link: [repositório](https://github.com/henrique1008/golem.auth0)

Credenciais de autenticação
Senha: Testeauth2020
login: henriquefariastats@gmail.com

[2020-01-02 18:34] jtrecenti commented on #327
It works if you set

[code]

I think that the actual setup it is not ideal because the path is already set inside `run_app_auth0()`.  Anyway, this is not not an issue for golem. I created an issue in `{auth0}` to address this

[2020-01-02 18:38] henrique1008 commented on #327
Thanks so much for the help, everything is working now.

[2020-01-05 16:22] ColinFay opened #328 "merge with_golem_options and config"
It would make more sense to have a temp yaml for config, launched at runtime, and completed with the opts of with_golem_options(), so that the usage of both is consistent

[2020-01-10 10:47] MarkEdmondson1234 commented on #317
Cloud Run?

[2020-01-10 13:16] yonicd opened #329 "set rproj template defaults"
The RStudio Rproj defaults reinforce bad workspace developing habits, which have been discussed in the community quite a lot.

<img width="650" alt="Screen Shot 2020-01-10 at 8 11 48 AM" src="https://user-images.githubusercontent.com/1755487/72155424-1edfc280-3381-11ea-8c4c-6157f35de75c.png">

Can you please change the defaults to the following?

<img width="630" alt="Screen Shot 2020-01-10 at 8 1

[2020-01-21 21:42] allaway opened #330 "add_ functions do not all have roxygen comments"
Perhaps I'm missing something obvious, but is there any reason that `golem::add_fct`/`add_utils` does not add a roxygen comment section to the resulting file like `add_module` does to the module files?
It seems like it would be helpful to add this for parity across the `add_` functions and to encourage good documentation practices.

[2020-01-21 21:42] allaway commented on #330
Related to #165

[2020-01-23 06:52] ColinFay commented on #330
You're right, there should be roxygen tags here.

Would you be willing to PR that?
I think we should do this in the spirit of the way `add_module()` works https://github.com/ThinkR-open/golem/blob/dev/R/add_modules.R#L71 (i.e with an `export` parameter to the function)

[2020-01-23 07:03] ColinFay opened #331 "refactor run_app() so that we don't have ..."
[code]

[2020-01-23 11:18] ColinFay opened #332 "Lower the number of Imports"
Following https://github.com/wch/r-source/commit/0639b2c2f152834ac30bb5ed321e912706e34239

[2020-01-23 14:19] adelmofilho opened #333 ""app launches" golem recommended test fails by default"
After codes `01_start.R` and `02_dev.R` are run, "app launches" package test fails with following error.

[code]
The same occurs executing `devtools::check()`

[code]
Session info

[code]

Reprodutible code can be found at my repo on: https://github.com/adelmofilho/educaR

[2020-01-23 19:57] gueyenono opened #334 "Feature request for warning users of nested modules"
This is not really an issue, but more like a feature request.

`{golem}` does an incredible job providing assistance throughout the Shiny app's development process. Consequently, users (like me) are not really inclined to check/modify the code that is automatically generated by the app. To illustrate it, when I create a new module, I do not even attempt to change the automatically generated (and f

[2020-01-24 13:18] pachamaltese opened #335 "golem fails to put inputs in URL"
comparing https://github.com/tradestatistics/visualization-with-shiny/tree/master/embed-trade-golem and https://github.com/tradestatistics/visualization-with-shiny/tree/master/embed-trade I see that golem fails to work with reactive parameters and a URL that contains the "API call"

[2020-01-24 13:27] ColinFay commented on #334
Thanks!!

I'm on the same page as it might relates to https://github.com/ThinkR-open/golem/issues/124, I'm not sure issuing warning would be the way.

I think we should natively `ns` all `ids`, as it's hard to check if a module is nested or not, even more if the module structure changes.

[2020-01-24 13:29] ColinFay commented on #335
Hello,

Can you point to the piece of code that works / doesn't work?

Thanks

[2020-01-24 14:11] ColinFay commented on #328
In fact, no.

[2020-01-24 14:11] #328 closed

[2020-01-24 14:25] VincentGuyader opened #337 "as params not used in add_dockerfile"

[2020-01-24 14:38] ColinFay commented on #315
done 🥇 https://github.com/ThinkR-open/golem/blob/dev/inst/utils/golem_utils_ui.R#L213

[2020-01-24 14:50] #315 closed

[2020-01-25 21:55] #337 closed

[2020-01-27 16:47] VincentGuyader opened #339 "need to normalizepath un test-config.R"
[code]

[2020-01-27 16:48] VincentGuyader opened #340 "rsconnect need to be moved as suggest"
[code]

[2020-01-27 16:50] ColinFay commented on #339
Ah, thought it was.

But pkgload might not be normalizing there : https://github.com/ThinkR-open/golem/blob/dev/R/options.R#L168

So should be done there

[2020-01-27 16:51] ColinFay commented on #340
Related #326

[2020-01-27 16:56] VincentGuyader commented on #339
[code]

do the job

[2020-01-28 17:13] VincentGuyader opened #341 "test to use `pkgload::load_all(export_all = FALSE)` in the app.R file for Rconnect deploy"
to mimic a proper package installation, instead of doing multiple `library`

[2020-01-28 17:16] VincentGuyader commented on #341
seems ok :)

[2020-01-28 17:19] cderv commented on #341
You may be interested to also set `helpers = FALSE` and `attach_testthat = FALSE` as you don't needs tests to run when running the app. right ? 🤷‍♂

[2020-01-28 17:30] ColinFay commented on #341
I'd be in favor of writing a wrapper function instead of having all parameters set in the script

[2020-01-28 22:27] VincentGuyader commented on #341
my understanding of `load_all` was wrong, we dont need this.
the actual call is good enough.

but maybe we can use `pkgload::load_all(export_all = FALSE,helpers = FALSE,attach_testthat = FALSE)`

[2020-01-29 00:25] ColinFay commented on #331
Not sure about that one actually as it would require users to do `run_app(options = list(a = this, b = that))` instead of `run_app(a = this, b = that)`, which doesn't seem like the correct way to go 🤔

[2020-01-29 00:25] #331 closed

[2020-01-29 00:32] ColinFay commented on #94
This should be done before cran candidate

[2020-01-29 14:06] statnmap opened #342 "Add empty line at the end of these files"
This list of files spotted as warnings after using {packageMetrics2} means that we have to add a blank line at the end of the files.
`packageMetrics2::package_metrics("golem")`
![image](https://user-images.githubusercontent.com/21193866/73363265-b8c3cc80-42a8-11ea-9128-c6d60b8aa606.png)

[2020-01-29 22:46] lmeninato commented on #342
I'll give it a shot

[2020-01-29 22:57] ColinFay commented on #342
Thanks @lmeninato!

Here's a quick reminder about the process:

- fork the repo
- create a branch with the number of your issue (for example `issue-342`)
- when PRing, be sure to do so in {golem} dev branch :)

Thanks for the help!

[2020-01-30 18:58] #339 closed

[2020-01-30 18:58] #340 closed

[2020-01-30 19:26] #341 closed

[2020-01-30 19:28] VincentGuyader opened #347 "too much Imports"
![image](https://user-images.githubusercontent.com/10470699/73483005-06226580-439f-11ea-8004-aba6a609cf0a.png)

[2020-01-30 19:37] ColinFay commented on #347
See #332

[2020-01-30 19:49] ColinFay commented on #332
We can remove :

+ [ ] maggritr
+ [ ] purrr
+ [ ] glue
+ [ ] yesno

[2020-01-30 22:27] #347 closed

[2020-01-30 23:16] #342 closed

[2020-01-31 09:32] jcpsantiago commented on #282
@DianeBeldame we are using `renv` with a golem app with docker in production.
We have a `Dockerfile` that looks like this (the code to launch the golem app is in a separate script called `app_init.R` which has the `run_app()` call:

[code]

We `.dockerignore` both the `renv` folder and the `.Rprofile`.

With this setup you don't get the nice caching of layers as with installing your packages one b

[2020-01-31 21:53] VincentGuyader commented on #282
Hi,

I 've made a branch here : https://github.com/ThinkR-open/golem/tree/renv-test a few day ago.

with a `renv=TRUE` parameter in the `add_dockerfile` function. (see https://github.com/ThinkR-open/golem/blob/renv-test/R/dock_from_renv.R )

Buy default it will use your renv.lock file you have, if not it will create one for you:

[code]

Right now I don't know if I'm gonna go any further or not wi

[2020-02-07 09:51] statnmap opened #350 "Change setwd to here() in tests recommended"
https://github.com/ThinkR-open/golem/blob/cc6ce097113400adc6f66c7f7a64597dd9187d74/inst/utils/test-golem-recommended.R#L25

Recommend to try:
[code]

Needs to be a Rstudio project though, otherwise set a file named ".here" at the root of the project.

[2020-02-07 17:12] mohitsahasrabudhe commented on #6
Did you get time to add global.R to golem_opts

[2020-02-07 19:10] ColinFay commented on #6
@mohitsahasrabudhe there is no such plan as integrating globals.R in golem_opts :)

Here is the methodology for integrating what you've got in globals.R inside your golem app:

- all the datasets that are fixed should be added as a package dataset
- functions should be integrated as package functions
- things that need to be launched at runtime should be listed in the app_server function

You can

[2020-02-07 21:02] #129 closed

[2020-02-07 21:03] ColinFay opened #352 "small js refactoring"
add information in the documentation about functions args and change alert handler

[2020-02-07 21:05] #352 closed

[2020-02-07 21:29] ColinFay commented on #333
I can reproduce.

@adelmofilho could you point me to the modification you've done in the app?

This test runs when we use it inside a brand new golem app:

[code]

[2020-02-07 21:32] ColinFay commented on #350
AFAIK `here::here()` also looks for a DESCRIPTION file so it should be ok even if we're not in RStudio 🤔

[2020-02-07 22:09] ColinFay commented on #333
Ok, got it:

[code]

I think you've somehow touched the `NAMESPACE` file and removed `with_golem_options` from the exports, as it is supposed to be there by default: https://github.com/ThinkR-open/golem/blob/dev/inst/shinyexample/NAMESPACE#L9

If you run a `devtools::document()` in your project, this will work.

Cheers,
Colin

[2020-02-07 22:09] #333 closed

[2020-02-07 22:10] #326 closed

[2020-02-07 22:38] Benelaus commented on #277
@tleers Could you expand on how your app structure was flawed? We are experiencing the same problem that you had. Thanks!

[2020-02-07 22:56] #332 closed

[2020-02-07 23:01] ColinFay commented on #235
We now default to `here::here()`

[2020-02-07 23:02] #235 closed

[2020-02-07 23:03] #85 closed

[2020-02-07 23:16] ColinFay commented on #278
@VincentGuyader is this one done?

[2020-02-07 23:19] #290 closed

[2020-02-07 23:20] ColinFay commented on #290
Done there : https://github.com/ThinkR-open/golem/blob/dev/inst/manualtests/script.R#L19 with the manual tests

[2020-02-07 23:26] #238 closed

[2020-02-07 23:26] ColinFay commented on #226
@VincentGuyader is this one solved?

[2020-02-07 23:27] #222 closed

[2020-02-07 23:27] ColinFay commented on #222
Done ✅

[2020-02-07 23:27] ColinFay commented on #214
up

[2020-02-07 23:28] ColinFay commented on #197
[code]

[2020-02-07 23:28] #197 closed

[2020-02-07 23:29] #132 closed

[2020-02-07 23:30] ColinFay commented on #169
@VincentGuyader Seems to be done, right?

[2020-02-07 23:31] ColinFay commented on #121
Done in #129

[2020-02-07 23:31] #121 closed

[2020-02-07 23:32] ColinFay commented on #277
@Benelaus can you provide a reproducible example please?

Have you looked at : https://github.com/ColinFay/golemize/tree/master/shiny-dashboard ?

[2020-02-07 23:34] #350 closed

[2020-02-08 08:57] VincentGuyader commented on #169
Yep

[2020-02-08 08:57] #169 closed

[2020-02-08 08:58] VincentGuyader commented on #226
Yep

[2020-02-08 08:58] #226 closed

[2020-02-08 08:59] VincentGuyader commented on #278
Not yet

[2020-02-11 16:16] mohitsahasrabudhe commented on #277
Adding a bootstrap or jquery htmltools::htmlDependency to the UI cause the dashboard to disregard shinydashboard tabs when loaded using run_app()

[code]

[2020-02-11 16:18] mohitsahasrabudhe commented on #6
Thanks.

[2020-02-11 21:19] mohitsahasrabudhe commented on #277
Adding a bootstrap or jquery htmltools::htmlDependency to the UI cause the dashboard to disregard shinydashboard tabs and follow a vertical layout when loaded using run_app()

[code]

[2020-02-18 04:51] samWieczorek opened #363 "Where to put config files"
Hi,
In my shiny app, I need to use config files (*.conf) but I am not sure in which directory it is advised to put them. It seems to me that the 'www' directory in not the right place. Can I create a new directory in my package and add it in app_ui.R whith addRessource ?

Thanks

Sam

[2020-02-19 19:03] lcolladotor opened #364 "App with user-provided data"
Hi,

I'm working on my first `golem` app post-`rstudio::conf(2020)` and I dug myself into a hole. The use case I have is similar to `iSEE::iSEE()` https://github.com/iSEE/iSEE/blob/master/R/iSEE-main.R where I was planning to enable users to explore their own input data (`se` object in the `iSEE` scenario). The main use case, however, is to showcase our data. The data is big enough that I won't st

[2020-02-20 12:55] DivadNojnarg opened #365 "Version of add_module for {tidymodules}"
Hi All,

Once {tidymodules} is on CRAN (end of year?), we would like to know if you are interested to add a parameter to the add_module function so that it creates a R6 class template instead of the default.
We can develop the feature for you.

An example of what it could produce:

[code]

[2020-02-20 13:14] ColinFay commented on #365
I think the safe way to do that would be through the idea of golem templating.

In order to implement that feature, one thing I can imagine would be to have a "module template" function that returns the content of the module you want to create, in the spirit of `add_module(name = "bla", template = tidymodules::module_template)`.

In my opinion that would be the best way to go for the following rea

[2020-02-21 09:27] soetang commented on #6
An alternative would be to create a global.r file in your R directory and in that global file you create a quote:

global <- quote({
# your global code
})

Then you can change the run_app code to:
run_app <- function(...) {
  golem::with_golem_options(
    app = shinyApp(
      ui = app_ui
      , server = app_server
      , onStart = purrr::partial(eval, expr = global, envir = globalenv())),

[2020-02-23 14:08] JohnCoene opened #366 "golem::is_running()"
Would be great to have an equivalent to `shiny::isRunning` to know whether the package is using golem.

[2020-02-27 05:03] lcolladotor commented on #364
Hi,

https://github.com/LieberInstitute/spatialLIBD is now public if you want to take a look.

I have a question about how `golem` works with the data that gets passed. If I pass a large object, in my case I have a 2 GB one (from `pryr::object_size()`), does `golem::get_golem_options()` generate multiple copies of the object per connection to an R worker?

I'm using terminology from https://docs.r

[2020-02-28 21:32] ColinFay opened #367 "use data raw should be in `02_dev.R`"
In principle, we should never go back to `01_start.R` once everything is set.

But adding data seems like a common thing to do along project, so it might make more sense to have it in `02_dev.R`

[2020-02-28 21:34] ColinFay opened #368 "Proof-read / review the dev scripts"
linked to #367

[2020-02-28 22:16] #368 closed

[2020-02-28 22:22] #367 closed

[2020-02-28 22:25] ColinFay opened #370 "Rework vignettes"
`v0.2` bundles a series of new functions that should be put inside the Vignettes

[2020-02-29 09:25] ColinFay opened #371 "Remove devtools explicit call"
Devtools is called here but not imported and it shouldn't.

https://github.com/ThinkR-open/golem/blob/a222c5224d9dee2c4d8ac5635a109f4291cfcf19/R/add_deploy_helpers.R#L563

Switch to `pkgbuild::build` but that adds one dep

[2020-02-29 09:25] ColinFay commented on #371
ping @VincentGuyader

[2020-02-29 09:29] ColinFay commented on #371
As `{pkgbuild}` is an explicit import of `{pkgload}`, we can hack something with `getFromNamespace()`.

We can also do something like :

[code]

Number 2 seems like the best way to go.

[2020-03-01 20:55] ColinFay opened #372 "favicon can't be online files"
`golem::use_favicon("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/fire_1f525.png")`

[code]

[2020-03-01 20:55] ColinFay commented on #372
ping @VincentGuyader

[2020-03-01 21:42] ColinFay commented on #372
How to implement:

+ Check if file exist locally, if it does, perform as already implemented

+ If it doesn't, check that it's reachable on the internet:

[code]

+ If it's reachable, download the file from the web and perform as usual when it becomes a local file

[2020-03-02 08:51] VincentGuyader commented on #372
If because of : https://github.com/ThinkR-open/golem/commit/9b5fb4d5cfc096ffede0b481a4a2bd7f14901cfd the change from `normalizePath` to `path_abs` , and because I didnt create an unit testing for this.

[2020-03-02 14:43] ColinFay opened #373 "bundle_resources fails if www is empty"
We should first test if the dir is empty before creating the bundle

[2020-03-02 23:32] VincentGuyader commented on #371
Yes but :

see https://github.com/ThinkR-open/golem/commit/5f8ca1da7a0375ba926ceeacf2e87b978bdb8fba

[2020-03-02 23:35] VincentGuyader commented on #371
dirty way :

      if (rlang::is_installed("pkgbuild")) {
        getFromNamespace("build","pkgbuild")(path = ".")
      } else {
        stop("please install {pkgbuild}")
      }

[2020-03-03 09:03] ColinFay opened #376 "Remove message to add css and js when creating files"
[code]

As css and js are now automatically bundled, we don't need that message anymore.

Condition this on golem version

[2020-03-03 09:12] #376 closed

[2020-03-03 10:54] ColinFay opened #378 "`devtools::test()` in 03 should be `devtools::check()`"

[2020-03-03 10:54] ColinFay opened #379 "Remove glue from named_to_li"
[code]

Causes error if users have not added glue to DESCRIPTION

[2020-03-03 15:01] #371 closed

[2020-03-03 15:01] ColinFay commented on #371
@VincentGuyader as long we put `pkgbuild` in Suggests, that's good

https://github.com/ThinkR-open/golem/pull/380/commits/c212935516bc8031d8d411297401fc850be95d3c

[2020-03-03 16:43] #373 closed

[2020-03-03 16:47] #378 closed

[2020-03-03 17:16] #379 closed

[2020-03-03 17:17] ColinFay opened #384 "Release golem 0.2.1"
Prepare for release:

* [x] `devtools::check()`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [ ] `revdepcheck::revdep_check(num_workers = 4)`
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [ ] Polish pkgdown reference index
* [ ] Draft blog post

Submit to CRAN:

* [x] `usethis::use_version('minor')`
* [x] Update `cran-comments.md`
* [x] `devtools

[2020-03-03 18:07] #372 closed

[2020-03-03 18:34] #370 closed

[2020-03-05 12:32] henrique1008 opened #387 "Problems installing locally or brilliantly made with Golem as a package on R"
Good Morning

I had a problem when trying to run a Shiny made with Golem installed locally on my machine.

To reproduce my example, just create a shiny golem normally using the path in Rstudio

File >> New Project >> Package for Shiny App using golem

After creating the project directory, and executing the commands in the file located in `~ / dev / 01_start.R,` I close the project.

Now starts a n

[2020-03-05 12:50] VincentGuyader commented on #387
Hi,

I cant reproduce.
can you try to :

1 - create a new golem
2 - dont run anyting from 01_start
3 - close reboot Rsudio
4 - run remotes :: install_local ("path_to_shiny_no_your_computer", force = TRUE)
5 - run shiny_name :: run_app ()

[2020-03-05 12:59] ColinFay commented on #387
As far as I see it, this seems to be a favicon issue.

Can you comment the `favicon()` function inside you `app_ui` ?

[2020-03-05 13:08] ColinFay commented on #387
favicon uses `get_golem_wd()` which deports things to `here()`, so it doesn't work if you're not in the R project that contains the favicon

Can reproduce :

[code]

Will work if

[code]

[2020-03-05 13:14] ColinFay commented on #387
quick temporary fix :

+ Comment the favicon part

+ Add the path to your favicon with `favicon("/www/favicon.ico")` or `favicon("/www/favicon.png"),`

[2020-03-05 13:18] ColinFay opened #388 "remove cat_red_bullet in favicon"
use_favicon.R#101

[2020-03-05 13:24] #388 closed

[2020-03-05 13:39] ColinFay commented on #387
@henrique1008 can you try with the hot fix I just pushed to dev ?

[code]

[2020-03-05 13:57] henrique1008 commented on #387
Sorry for the delay, I was in a meeting at the company.

One of my uses for shiny is to install locally on other collaborators' computers, and run via Windows .bat file.

That said, I leave an R script set as follows

`app_name :: run_app ()`, and I create a shortcut on the user's Desktop with a Windows `.bat` batch file that does this.

With the previous answers, I added to the scritp that is run

[2020-03-05 14:04] ColinFay commented on #387
thanks for reporting !

Closing the issue now

[2020-03-05 14:04] #387 closed

[2020-03-06 11:48] HanjoStudy opened #393 "golem::add_(module, fct,...) appends to file if already exists"
Calling one of the helper functions to create a module, function or utils `golem::add_*` when the file already exist appends an empty template to the bottom.

Should probably warn user file already exists.

Quick illustration:
[code]

[2020-03-06 13:31] ColinFay commented on #393
we should skip the writing part if the file already exists, for example at https://github.com/ThinkR-open/golem/blob/dev/R/add_modules.R#L60

[2020-03-09 15:39] statnmap opened #394 "Update "dev/02_dev.R""
Dev history file during development may benefit in following book recommendations: [Engineering Production-Grade Shiny Apps](https://thinkr-open.github.io/building-shiny-apps-workflow/)

- Vignette first
- Dependencies ({attachment} when new version without {devtools} hits CRAN)
- Tests
- CI
- UI then
- Modules
- JS

[code]

[2020-03-10 09:24] fvitalini opened #395 "add_resource_path not handling non-existing inst/app/www path"
I have noticed an issue when running R CMD Check with empty/non-existing `inst/app/www` path (R CMD Check removes empty directories).

The function `golem::add_resources_path()` does not handle such a case and `shiny::addResourcePath` fails while normalizing the path which is an empty string.

To reproduce the issue:
1) create a new progect with `golem` from template
2) run `golem::remove_favicon(

[2020-03-10 10:11] ColinFay commented on #395
Thanks for reporting @fvitalini!

Can you please share what version of golem you are using?

Thanks :)

[2020-03-10 10:18] fvitalini commented on #395
Sure, here is my `session_info()`. Btw I have installed `golem` from github yesterday.
[code]

[2020-03-10 10:27] ColinFay commented on #395
Thanks a lot. I was asking because that was a bug in the last version and I thought it had been handled in the new version.

I'll investigate on it, thanks for sharing !

[2020-03-10 23:47] chintanp opened #396 "Suggested way to refer to external javascript files hosted on cdn"
Often the external javascript libraries of interest are hosted on cdnjs like https://cdnjs.com/libraries/two.js/ and are considered as the faster way to load them. Is there a suggested way to use this using golem?

[2020-03-11 07:19] ColinFay commented on #396
Hey,

Sure, the best way to do this is to add a `tags$script(src= "")` inside `golem_add_external_resources()` at `app_ui.R#29`.

I realise this is not documented, neither in the vignette nor inside the R file.

I'll add this, unless you feel like doing a PR to include that ?

[2020-03-11 20:56] chintanp commented on #396
Submitted a PR. Thanks.

[2020-03-11 20:56] #396 closed

[2020-03-11 21:35] chintanp commented on #210
Is there a suggested solution for this yet?

Has anyone tried using the `golem-config.yml` file on shinyapps.io?

[2020-03-13 07:08] CorradoLanera opened #398 "Modul-specific data"
(this could be related to #6 )

Suppose I have data computed (and updated) at each update of the package. Put them as internal(/exported) objects could be suboptimal because one should remember to re-run their defining code every time (so, I cannot use the solution proposed by @ColinFay).

Moreover, I can have many modules, each one, including some or many of that kind of data. To follow the solut

[2020-03-14 10:37] cderv commented on #210
`config` 📦 can by used with `shinyapps.io` where `R_CONFIG_ACTIVE` env var is already set to `shinyapps` (see [docs](https://docs.rstudio.com/shinyapps.io/applications.html#config-package)).
As show in the [vignette about config](https://thinkr-open.github.io/golem/articles/e_config.html#app_config-r), `golem` should respect this env var. So if you want to set some configurations only for shinyapp

[2020-03-25 11:57] VincentGuyader opened #399 "use the same load_all in document_and_reload than add_rstudioconnect_file"
[code]

should be :

[code]

[2020-03-25 16:57] statnmap opened #401 "Run devtools::check() with default unit tests in Rstudio build pane fail"
I created a new golem:
[code]
Then, I directly use : `golem::use_recommended_tests()`

If I run `devtools::check()` in the console, unit tests are ok.
If I click on "Check" in the "Buld" pane of Rstudio, unit test fails:
[code]

If I click on "Run Tests" on top right of the test file:
![image](https://user-images.githubusercontent.com/21193866/77563910-2f083800-6ec2-11ea-9c0d-ce87a1964593.png)
Tes

[2020-03-26 14:27] Welsh44 opened #402 "Golem / RStudio : template not found"
Hi

I'm trying to use golem and follow this : https://thinkr-open.github.io/golem/articles/a_start.html

I'm using RStudio 1.0.143. Using File > New project I can't find hown to use Golem. I know I can use command line, but I'm trying golem in order to present this as a way of developing in my unit.

thanks in advance
Stay safe

[2020-03-26 14:35] ColinFay commented on #402
Hey @Welsh44

Have you installed golem on your machine ?

If yes, can you try stopping RStudio and restart it ?

[2020-03-26 14:52] Welsh44 commented on #402
Hi @ColinFay

Sorry for the lack of precision.
Windows 10, RStudio installed locally, stopped and restart.

Here are some sreenshots
- first screen after file > New Project
- after selecting new directory
- after selecting R Package
![Capture_03](https://user-images.githubusercontent.com/28830333/77660423-93d29980-6f79-11ea-8976-4798c1067e78.PNG)

![Capture_01](https://user-images.githubuserconten

[2020-03-26 15:09] VincentGuyader commented on #402
Hi, can you update your rstudio IDE?
You have an old version

[2020-03-26 15:20] Welsh44 commented on #402
OK. I'll try this update as soon as possible.

[2020-03-26 15:45] ColinFay commented on #402
Hey,

RStudio templates have been introduced in RStudio V1.1 :
https://rstudio.github.io/rstudio-extensions/rstudio_project_templates.html

Updating the IDE should do the trick :)

Otherwise, you can also create a golem template through command line:

[code]

Cheers,
Colin

[2020-03-26 18:14] Welsh44 commented on #402
Hey

If templates have been introduced in v1.1, it's a good explanation to my issue 😆

Installed nd check : it solved.

Thanks.

[2020-03-26 18:14] #402 closed

[2020-03-27 09:55] ColinFay opened #403 "[Dockerfile] switch to Rscript"
We should move to `RUN Rscript -e` instead of `RUN R -e` for cleaner logs of docker compilation

[2020-03-27 10:03] ColinFay commented on #282
The only drawback right now is that we have 20 deps, and adding `{renv}` will generate a note on CRAN.

Switching the Dockerfile creation to `{dockerfiler}` would make things easier

[2020-03-27 15:51] jimbrig2011 commented on #401
Have this same issue, except devtools::check does not work from the console for me either. The test works/passes with devtools::test or if I manually run the code in the test script but fails with devtools::check and RStudio build pane check.

[2020-03-29 09:28] ColinFay opened #404 "use_external_ shouldn't open file by default"
golem::use_external_js_file & golem::use_external_css_file shouldn't open the file by default

[2020-03-29 09:29] ColinFay opened #405 "use_external shouldn't add ext if already there"
[code]

Create `xxx.js.js`, this should be `xxx.js`

[2020-04-01 09:04] #403 closed

[2020-04-06 07:14] ColinFay commented on #282
Been toying a little bit more with that.

One thing I don't like about `{renv}` in docker is that you can't benefit from docker cache: if your `renv::restore()` takes very long to run but fails, you don't benefit from any cache.

So we should mimic the current behaviour (with one line per package), with `renv::restore()`

[2020-04-06 07:21] ColinFay commented on #282
Also, the snapshot should be done with `snapshot = "explicit"`

[2020-04-06 15:16] ColinFay opened #406 "Default options(NCpus) to 4 in Dockerfile"
The Dockerfile should default to options(Ncpus = 4) so that install is done faster.

[2020-04-08 13:48] VincentAlcazer opened #407 "Issue with dashboard sidebar"
Hi all,

I have a little issue with the use of the shinydashboard package inside golem: it seems that the element of the sidebar are getting smaller height (first screenshot) than when I use it outside golem (2nd screenshot).

![Capture](https://user-images.githubusercontent.com/63184395/78791148-ca63d780-79af-11ea-8e9f-5bf1a5b53967.PNG)

![Capture_2](https://user-images.githubusercontent.com/6318

[2020-04-09 18:18] genobobeno opened #408 "add_resource_path doesn't extend to the server? Or to fct* functions?"
Hello,
I am trying to read simple *.rds files from the www directory after running the default add_resource_path and golem_add_external_resources() in app_ui.R

My functions are telling me the files in "www" don't exist. I tried a simple print(dir("")), print(dir("www")) function in app_server.R to test the issue. They're returning character(0)'s. I don't understand how these resources are shared

[2020-04-09 20:01] ColinFay commented on #408
Hey,

the add_resources_path() is used for the UI elements, for example if you need to do `tags$img(src = "www/plop.png")`. What is done with add_resource_path is attaching a folder as a resources __to the web browser__, so R has no access to that per se.

If you want to refer to file from inside the app for the server computation, you can access files in `www` using the `app_sys()` function, whic

[2020-04-10 15:22] VincentAlcazer commented on #407
Adding a "sidebarMenu" inside the dashboardSideBar resolved the issue.

[2020-04-10 15:22] #407 closed

[2020-04-15 07:12] ColinFay opened #409 "When changing the name with fill_desc, app_sys should be updated"

[2020-04-20 05:30] novica opened #410 "if (interactive()) {} in test_that( "app launches" )"
I was building a demo app just to see how different parts of golem work.

When running the devtools::check() from 03_deploy.R I got an error that said:
`Failure: app launches (@test-golem-recommende x$is_alive() isn't true.`

When running the `x <- processx::process$new()` I could verify that the app runs, `x$is_alive()` returned `TRUE` and I could access the app on localhost.

After trying variou

[2020-04-20 06:53] ColinFay commented on #410
Hey @novica

Thanks for the feedback.

Indeed that's a known bug, I hadn't thought about using interactive(), that should indeed solve the problem, wrapping it inside `skip_if_not`, thanks for the idea!

[2020-04-20 06:54] #214 closed

[2020-04-20 06:56] #399 closed

[2020-04-20 06:57] novica commented on #410
Hi @ColinFay

Should I do a pull request for this then?

[2020-04-20 07:16] #405 closed

[2020-04-20 07:16] #404 closed

[2020-04-20 07:23] ColinFay commented on #395
The current `golem::add_resources_path` tests that the folder is empty or not (since v0.2.0), so even if `www` is empty, the application shouldn't fail to launch 🤔

I don't think `add_resources_path` is directly tested when running `devtools::check` but you might be experiencing the issue described in https://github.com/ThinkR-open/golem/issues/401 ?

[2020-04-20 07:24] ColinFay opened #412 "Switch Dockerfile functions to {dockerfiler}"

[2020-04-20 07:24] ColinFay commented on #408
@genobobeno Have you tried my solution?

Cheers,
Colin

[2020-04-20 07:27] ColinFay commented on #410
I think I'd like the whole testing to be wrapped inside a function so that it's cleaner in the testing files.

Would you mind implementing something so that the test file looks like:

[code]

So basically, wrapping this into a function?

[code]

[2020-04-20 07:30] ColinFay commented on #364
@lcolladotor Woaw very sorry I didn't answer to this issue sooner.

Yes, that's what `get_golem_options()` was thought for :)
I agree that it's not documented though... would you be ok turning the content of this issue into a Wiki on the repo, so that we could point users to it?
https://github.com/ThinkR-open/golem/wiki

That would be awesome.

Cheers,
Colin

[2020-04-20 07:54] novica commented on #410
Yes. I will work on in.

[2020-04-20 08:31] fvitalini commented on #395
@ColinFay  I have the issue by running R CMD Check both in Rstudio and via `devtools::check(document = FALSE)` . What fails is the recommended test:

[code]

However, running the test manually in the console

[code]

Is fine.

[2020-04-20 08:51] novica opened #413 "accessing data in golem shiny app"
I have a golem shiny app that reads from a dataset and returns a table.

So in the `ui` I have `tableOutput(outputId = "head")`, and in the server I have

[code]
where `x` is the `iris` dataset stored in the `data` folder with `usethis::use_data`.

I am installing it with `devtools::install()`. When I do `myapp::run_app()` I get an error:
[code]
When I change the line
`dataset <- head(x)`
to
`data

[2020-04-20 10:14] ColinFay commented on #395
Thanks for the feedaback.

That's indeed a bug in the golem test, we are working on it currently in #410.
I'll ping you back here when it's corrected so that you can check that everything is working again :)

[2020-04-20 10:15] fvitalini commented on #395
Thanks!

[2020-04-20 11:34] cderv opened #414 "Golem changelog seems outdated"
Hi,

In the website, the changelog page does not have the last released versions
https://thinkr-open.github.io/golem/news/index.html

Golem 0.2.1 is already on cran, as Golem 0.2.0 was before but none is really documented in the changelog page. only 0.1.9000+ and 0.2.9000+ with _Unreleased_ noted near the title.

As the [NEWS file](https://github.com/ThinkR-open/golem/blob/master/NEWS.md) seems up

[2020-04-20 11:49] novica commented on #410
How does this look @ColinFay ?
https://github.com/novica/golem/commit/4eac63b287dc40e3c6a1ef95e3cf17d96b7ea8f8

[2020-04-21 14:54] genobobeno commented on #408
I got it working with system.file("myfile",package="MyGolemPackage") ...which it looks like app_sys() wraps to. Things are working.

[2020-04-21 14:54] #408 closed

[2020-04-22 20:59] VincentGuyader opened #415 "choose between remote installation in add_dockerfile"
in dock_from_desc function :
[code]
we dont use install_cran anymore, we dont need to install remote twice.

[2020-04-22 21:09] VincentGuyader opened #416 "in add_dockerfile a validation message is printed before the build"
see :

[code]

it should be :

[code]
and, even better, an error message should be displayed if the build doesn't work

[2020-04-22 21:11] VincentGuyader commented on #416
and we should use :

`pkgbuild::build(path = ".",dest_path = ".",vignettes = FALSE)`

[2020-04-23 21:11] VincentGuyader opened #418 "Dockerfile dont build anymore"

[2020-04-24 07:07] Cervangirard commented on #418
I had the same problem. By removing the dev version of remotes, the dockerfile compiles without problem.

[2020-04-24 18:33] robertoromor opened #419 "Unable to view PDF file (inst/app/www) by using [tags$iframe] and [addResourcePath]"
- I am trying to view local pdf files using the golem.

So as the demo mention I use addResourcePath in my app_ui.R file

golem_add_external_resources <- function(){

[code]

- I have a pdf saved in rappExt/inst/app/www

- Inside the module I am trying to view the local pdf like this without any success:

[code]

I have tried different combinations of folders paths but still unable to view  any pd

[2020-04-26 19:07] seanhardison1 opened #420 "config.yml not found in current working directory"
Hi,

I can't seem to get around this error when I build and then attempt to run my app using `run_app()`:

[code]

The file golem-config.yml is currently in`inst/`, and the error doesn't stop the package from building nor the app from initializing. I'm just greeted with the error upon trying to use the app once it loads.

Any ideas why this might be happening?

The package in question can be found

[2020-04-26 19:55] VincentGuyader commented on #420
Hi,

this one was hard to find :)

I spend much time inside ggplotly :p , it's not a golem issue, and not a ggplotly issue

in your code you use  `get(paste(variable))`

put instead :

[code]

Regards

(and dont use `return` inside `reactive`)

[2020-04-26 20:41] ColinFay commented on #420
In your application, `get` is getting overriden by `config::get` which is exported in `get_golem_config()`.

I'm assigning this to myself to switch to explicit namespacing inside `get_golem_config` instead of importing.

[2020-04-26 20:54] seanhardison1 commented on #420
Wow, thank you!! Great catch.

[2020-04-26 21:09] #420 closed

[2020-04-26 21:41] ColinFay opened #421 "implement explicit namespacing of config::get"
following #420

[2020-04-27 07:51] jacksonschan opened #422 ""app launches" test passes in test-golem-recommended.R but not when run in devtools::check()"
Hi golem team,

First of all, thanks for developing this wonderful workflow! I just started a new golem project (name = "lzdm") and the "app launches" test when run in the **test-golem-recommended.R** file, but when called using **devtools::check** in **03_deploy.R**, I get the following error:

`─ Test failures ──────────────────────────────────────── testthat ────

── 1. Failure: app launches (@

[2020-04-28 10:02] antoine-sachet opened #423 "`create_golem` corrupts git repo"
Running `golem::create_golem` in an existing directory under git version control corrupts the git index, which is a fatal error completely breaking the repo.

To reproduce: run `golem::create_golem()` in a non-empty git repository.

[code]

The fix is ignoring the `.git` directory in `create_golem`. In fact, if you want to support running `create_golem` on an existing shiny app (which you totally

[2020-04-28 10:07] antoine-sachet opened #424 "Add `overwrite` argument to `create_golem`"
Trying to run `create_golem` on an existing directory in a non-interactive session fails with

[code]

Indeed, if the path already exists the user is prompted with `yesno` which only works in an interactive session.

It would be great to add an `overwrite` argument to allow overwriting in non-interactive sessions.

[2020-04-28 10:40] antoine-sachet opened #425 "`add_dockerfile_*` uses `install_github` for non-github remote dependencies"
The internal function creating the dockerfile `docker_from_desc` always uses `remotes::install_github` for any non-cran dependencies. But there's more than github!

Our company uses `bitbucket` but `gitlab` is also pretty common. Mind you, you're not the only ones to be github-centric - I have already fixed the same issues in `usethis` and others.

The `Remote` information is actually in the packa

[2020-04-28 11:51] ColinFay commented on #421
Need to be removed at https://github.com/ThinkR-open/golem/blob/dev/inst/shinyexample/NAMESPACE#L5 and https://github.com/ThinkR-open/golem/blob/dev/inst/shinyexample/R/app_config.R#L18

[2020-04-28 22:20] ColinFay opened #427 "Nothing is printed to the console with golem::add_utils"
A message should be printed in case of success, just as the other `add_` functions

[2020-04-29 08:22] ColinFay opened #428 "To add to dev scripts"
+ use_githubactions()

+ use_travis_badge() / use_appveyor_badge() / use_github_actions_badge() / use_circleci_badge()

+ use_gitlab_ci()

+ use_circleci()

+ use_jenkins()

[2020-04-29 09:40] Cervangirard opened #429 "Change readme"
Resources
The Book :

    https://thinkr-open.github.io/building-shiny-apps-workflow/

[2020-04-29 20:24] ColinFay commented on #429
We should use <engineering-shiny.org>

[2020-04-29 20:29] ColinFay opened #430 "use_spell_check() in golem::use_recommended_tests()"
+ golem::use_recommended_tests() should launch use_spell_check()

[2020-04-29 20:34] ColinFay commented on #410
Thanks @novica !

Can you make it a `{golem}` function?
I mean, instead of adding it to the test file itself, we should have it integrated to the package (so that we have `golem::expect_running()`?
That would be easier to understand, as it would be lighter :)

[2020-04-30 07:01] #430 closed

[2020-04-30 07:06] ColinFay commented on #420
FWIW, it has been corrected in https://github.com/ThinkR-open/golem/pull/432

[2020-04-30 07:48] #428 closed

[2020-04-30 08:56] ColinFay opened #434 "unmet dependencies in add_dockerfile"
[code]

[2020-04-30 14:03] novica commented on #410
OK. I moved to test_helpers.R. I guess that's a good place for it?

I am not sure if it should import anything though.

https://github.com/novica/golem/commit/afc8a15d588511baba6b93c66d1cefec641d8899

[2020-04-30 14:12] ColinFay commented on #410
Yes, you should @importFrom function from {testthat} :)

`#' @importFrom testthat skip_on_cran skip_on_travis skip_on_appveyor`

Have you tried this implementation on a brand new golem application?

[2020-04-30 14:28] novica commented on #410
OK. I added the import.

Yes just tested. I did `devtools::install()` from my branch, and created a new app. Then I run `devtools::check()` got only one warning about missing license, which I didn't add. So I think it's OK? :)

[2020-05-01 13:20] ColinFay commented on #410
Sounds good @novica, can you PR to dev?

Thanks :)

[2020-05-01 13:52] #410 closed

[2020-05-01 13:56] #421 closed

[2020-05-01 14:01] ColinFay commented on #422
Hey,

This bug should have been corrected via #435.

Can you confirm by reinstalling the current version of `{golem}` from GitHub, then run:

[code]

Thanks

[2020-05-01 14:02] #384 closed

[2020-05-01 14:02] ColinFay commented on #401
Hey,

This bug should have been corrected via #435.

Can you confirm by reinstalling the current version of `{golem}` from GitHub, then run:

[code]

Thanks

[2020-05-01 14:02] ColinFay commented on #395
Hey,

This bug should have been corrected via #435.

Can you confirm by reinstalling the current version of `{golem}` from GitHub, then run:

[code]

Thanks

[2020-05-01 14:06] #429 closed

[2020-05-01 14:12] ColinFay commented on #419
I tried your exact code and it works here.

__NOTE that it won't show in RStudio default panel__

Can you share the whole application code?

[2020-05-01 14:13] ColinFay commented on #419
![Screenshot 2020-05-01 at 16 09 38](https://user-images.githubusercontent.com/17936236/80811660-a2d6e800-8bc6-11ea-83fa-c354f7669290.png)

[code]

[code]

[2020-05-01 14:15] #423 closed

[2020-05-01 14:31] ColinFay commented on #393
Happens with :

+ [ ] `golem::add_rstudioconnect_file()`

+ [ ] `golem::add_shinyappsio_file()`

+ [ ] `golem::add_shinyserver_file()`

+ [ ] `golem::add_js_file()`

+ [ ] `golem::add_js_handler()`

+ [ ] `golem::add_module()`

-> Error but should be avoid

+ [ ] `golem::use_recommended_tests()`

[2020-05-01 17:13] #416 closed

[2020-05-01 17:13] #415 closed

[2020-05-01 17:24] robertoromor commented on #419
I missed the **bundle resources** and that did the trick. Thanks a lot!!

[2020-05-01 19:03] robertoromor commented on #419
I am tryng to deploy the app using docker and shiny proxy and getting this error

^[[AError: 'bundle_resources' is not an exported object from 'namespace:golem'

I suppose the golem version that I am using is behind the golem version that has this function

This is the one that I have in my containerX right now

 sudo docker run -p  containerX R -e 'packageVersion("golem")'

 packageVersion("golem

[2020-05-01 19:07] ColinFay commented on #419
bundle_resources comes with golem version 0.2.0, so if your container has 0.1.0 it won't work :)

To correct that, I suggest you edit your Dockerfile so that it install the correct version

[2020-05-01 21:39] VincentGuyader commented on #419
If `install.packages("golem")` dont install the last version of golem, it maybe because the repos you use is an MRAN snapshot.

See `options('repos')` to check that

Regards

[2020-05-02 00:13] robertoromor commented on #419
Yeah that's the answer (MRAN snapshot) I got from the docker community.

Thanks!

[2020-05-02 00:13] #419 closed

[2020-05-02 04:11] jacksonschan commented on #422
@ColinFay Yes that worked, all testthat tests passed. Thank You!

[2020-05-02 04:11] #422 closed

[2020-05-02 09:01] fvitalini commented on #395
Hi @ColinFay ,

unfortunately I still see the error:

[code]

Here is my sessionInfo()

[code]

Hope this helps.

[2020-05-02 09:18] ColinFay commented on #395
Can you share the content of you golem_add_external_resources() function please?

[2020-05-02 09:21] ColinFay commented on #395
That part about the resource path should be skipped if the folder is empty 🤔

Any chance you can share the project on GitHub so I can have a look at the full code?

Thanks

[2020-05-02 09:45] fvitalini commented on #395
Yes, I just added the test project I used to reproduce the error here https://github.com/fvitalini/testGolem

[2020-05-02 10:35] ColinFay commented on #395
Thanks for taking the time to share this. Will have a look and come back at you 💪💪

[2020-05-02 10:36] ColinFay opened #437 "Test for app_ui and app_server formals"
test-golem-recommended should come with tests for main functions formals

[2020-05-04 09:48] ColinFay commented on #395
Hey @fvitalini,

Thank you very much, this should be fixed via #438.

Can you install the current dev version (`0.2.1.9020`) and confirm?

[code]

[2020-05-04 09:51] ColinFay commented on #427
@novica wanna work on this one?

[2020-05-04 10:28] novica commented on #427
Hi @ColinFay
Yes I will try :)

[2020-05-04 12:14] fvitalini commented on #395
@ColinFay  with version `0.2.1.9020` the issue does not occur anymore. Thanks for looking into this!

[2020-05-04 12:41] ColinFay commented on #393
[code]

[2020-05-04 12:41] #393 closed

[2020-05-04 12:46] #437 closed

[2020-05-04 13:19] ColinFay commented on #424
Linked issue : #101 and #100

Right now this behavior has been fixed for the `add_*` files but indeed is still there for `create_`.

@antoine-sachet would you be willing to make a PR?

[2020-05-04 13:26] statnmap commented on #401
On windows : golem ‘0.2.1.9020’

Ok after my corrections in this PR: https://github.com/ThinkR-open/golem/pull/441

[2020-05-04 13:40] #401 closed

[2020-05-04 13:40] ColinFay commented on #401
thanks!

[2020-05-04 13:40] antoine-sachet commented on #424
I have made the change already actually, just haven't done the PR because it ended up a bit larger than I thought.

For a complete logic, there should be 3 valid values: NULL (default) prompts the user, TRUE overwrites if needed and FALSE stops if the directory already exists.

If the session is not interactive and overwrite is NULL, we should also stop if the directory already exists.

That was m

[2020-05-04 13:46] ColinFay commented on #395
Perfect, thanks !

[2020-05-04 13:46] #395 closed

[2020-05-04 16:01] seanhardison1 opened #443 "Remote dependencies not identified on shinyapps.io?"
Hi all,

My app requires the import of a package hosted on github to run, which I've included in my DESCRIPTION as follows:

[code]

However, when sending the app to shinyapps.io, the `tidygraphs` package is not installed and so the app fails. The app in question can be found [here](https://github.com/seanhardison1/vcrshiny). Am I specifying `Remotes:` incorrectly?

The output of golem::add_docker

[2020-05-05 08:20] novica commented on #427
Created pull request. Unless I am doing something wrong, this was just one `cat` statement.

[2020-05-05 14:17] ColinFay opened #445 "Deprecate golem::add_ui_server_files()"
I don't think we should keep `golem::add_ui_server_files()` inside `{golem}`.

This issue is a proposal for softly deprecating it in the next release.

Please comment below if you're using this function and are against deprecating this function.

[2020-05-05 16:01] berkorbay commented on #317
Personally, I would love to see AWS Elastic Beanstalk: All automatic scaling from a Docker container. Game changer for Shiny scalability. Ultimately failed to run Shiny Server on EB though 😕

https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/single-container-docker.html

[2020-05-07 12:19] #427 closed

[2020-05-07 12:20] ColinFay commented on #317
@berkorbay I'm not fully familiar with AWS, I successfully deploy to Amazon Elastic Container Service once, could you pitch me on how Beanstalk differs from ECS ?

[2020-05-07 12:23] #314 closed

[2020-05-07 18:59] berkorbay commented on #317
@ColinFay Very good question! I had a hard time to differentiate, so I searched for the answer. It turns out to be the no-brainer version of ECS. I had experience with EC2 + autoscaling but it was not a smooth experience tbh.

https://aws.amazon.com/ecs/faqs/

**Q: How is Amazon ECS different from AWS Elastic Beanstalk?**

AWS Elastic Beanstalk is an application management platform that helps cust

[2020-05-07 19:45] novica commented on #330
@ColinFay I would like to try to do this if no one is working on it.

My thinking is that first we should move

[code]

[2020-05-08 21:55] allaway commented on #330
Apologies for never following up on this, I intended to but it got lost in
the shuffle. @novica - I am not working on this, so there won't be
duplicated effort :)

Thanks for doing this!

On Thu, May 7, 2020 at 12:45 PM novica <notifications@github.com> wrote:

[2020-05-10 07:37] berkorbay commented on #317
Ok, it turned out that I made things a bit complicated (thanks to some tutorials on the wild internet). Below is a very basic Dockerfile that will get people started with EB. Perhaps Golem can facilitate Github+S3+Docker with [Dockerrun files](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/single-container-docker-configuration.html) flow in the future. If I crack that, I will definitely se

[2020-05-10 17:42] michaelhogersnplm opened #446 "bundle_resources, folder structure in inst/app/www"
Hi there,

Is it possible for bundle_resources to pick up a folder structure in the inst/app/www folder? It would be nice to organise the inst/app/www folder with a folder for css, js and images. Perhaps I missed something in the documentation?

Best regards,

Michael

[2020-05-11 07:30] ColinFay commented on #446
That would make sense.

`bundle_resources()` does a `list.files()`, so it could include all the subfile too instead of top level files only

https://github.com/ThinkR-open/golem/blob/dev/R/bundle_resources.R#L37

[2020-05-14 14:50] MayaGans opened #447 "golem::add_module js argument"
I was wondering if it'd be possible to add a js file argument to `golem::add_module` so that a `.js` will be created with the same naming conventions? For example:

`golem::add_module("01_import", fct = "readr", utils = "ui", js = "script")` will give you something like:

- `R/mod_01_import.R`
- `R/mod_01_import_fct_readr.R`
- `R/mod_01_import_utils_ui.R`
- `app/www/mod_01_script.js` _not exactly

[2020-05-17 17:42] robertoromor commented on #434
I have the same issue, interested to see a solution for this, probably updating to ubuntu 20 (https://github.com/r-hub/sysreqsdb/issues/77)?

[code]

[2020-05-24 13:34] sjspielman commented on #297
+1 for this issue. Any current ideas for a workaround?

[2020-05-24 14:35] hadley opened #448 "Link to book is broken"
https://thinkr-open.github.io/building-shiny-apps-workflow/

[2020-05-24 16:52] daattali opened #449 "Golem should discourage the use of raw JS on shiny elements and/or point to safe alternatives"
*(This is regarding both golem and its "engineering shiny" book - because the book is listed in the README as "The book" for golem, I thought it's appropriate to open the issue here)*

I think Golem does a **fantastic** job at prividing and explaining a practical useful framework for building shiny apps.

I do have some worries however about the javascript guidelines that golem/the book provides.

[2020-05-24 21:51] julianstanley commented on #263
I'm just getting started with this, but I've been using a relatively hacky solution to this that may work for others too.

So, each time you change bits of your shiny application, you're supposed to run `run_dev.R`, right?

Instead of getting auto.reload to work, I just use bash to watch for changes in the `R/` directory, and call `run_dev.R` each time I see changes. Of course, it takes a bit to r

[2020-05-25 22:05] VincentGuyader commented on #449
Hi Dean
Thanks for your message!
We well know {shinyjs}, and invoke_js try to help people to use java script in shiny (from beginner with prebuilded js function to expert..), like shinyjs..
One of the main reason why we worked on javascript inside golem is because of licence issue with {shinyjs} (it was asked by some of our customer to remove shinyjs, to have a commercial-proof shiny application).

[2020-05-26 00:11] daattali commented on #449
Oh, interesting! Thanks for letting me know. This was the nudge I needed to remvoe the license.

I added it initially because big companies were asking me for a license and this was the easiest way for them to use the package, but it seems to cause a lot of headaches to everyone else, so I just removed the license. I've been thinking about it for a long time and needed a tiny push to see how restr

[2020-05-27 21:40] statnmap commented on #448
Thanks. This one was quite hidden in the doc :smile:
FYI, the new url is: https://engineering-shiny.org/  .

[2020-05-29 09:37] DivadNojnarg opened #452 "golem::add_js_binding("name") to automate input/output bindings?"
Similar to helps for creating custom handlers or any other JS file. The function would create a template like below. Since some methods like `initialise` or `getRatePolicy` are not mandatory, the function could be:

[code]

[code]

[2020-06-04 18:27] ColinFay commented on #452
That would make a lot of sense to have that.

Willing to craft a PR?

[2020-06-04 21:16] ShahnurIslam commented on #418
Thanks Cervan, that helped me!

[2020-06-09 09:40] #448 closed

[2020-06-09 09:51] statnmap opened #453 "object is not exported by namespace"
Steps to reproduce
- Create a golem
- Add an `@importFrom golem toto` in a function
- Run `run_dev.R`

- Then remove the fake function
- Run `run_dev.R`

Using `roxygen2::roxygenise()` should work. It work if you do it directly in the console.
Maybe here: https://github.com/ThinkR-open/golem/blob/99c698dba6d601268db6a9ab6c2fd3a4f5d731ff/R/reload.R#L42
use:
[code]
I do not remember why I had to put

[2020-06-09 09:58] statnmap commented on #443
You can retry after installing yourself locally, on your computer, the package from Github:
`remotes::install_github("jpshanno/tydygraphs")`

If you send the app on shinyapps.io using the blue button from the `app.R` file created by `golem::add_shinyappsio_file()`, this should work. It will look at which packages and which versions you installed on your computer.
If you installed this package loca

[2020-06-09 15:28] DivadNojnarg commented on #452
ok 👍

[2020-06-10 03:39] seanhardison1 commented on #443
Thanks @statnmap. Do you know of anyway to check how Rstudio identifies where a package is coming from?

I reinstalled `tydygraphs` and sent the app to shinyapps.io using `apps.R` generated from `golem::add_shinyappsio_file()` without any luck. Deleting and recloning the repo and repeating the above steps didn't work either.

[2020-06-15 14:25] julianstanley opened #455 "callModule() vs moduleServer"
Golem-initialized modules use `callModule()`.

Upcoming shiny features include some nifty testing functions--mainly `testServer()` that do not work with `callModule()`.

In the `?shiny::moduleServer` entry from shiny 1.4.0.9003:

Because of that recommendation, I'm considering changing the syntax for all of my modules.

Should `golem` change the way that it creates modules? I'm still pretty new to

[2020-06-15 14:33] ColinFay commented on #455
Hey!

Thanks for this :)

It's been on my todo for a couple of weeks, I think the easiest way to do it would be to check shiny version and change what we add to the users built modules.

Something like

[code]

So yeah we will switch to this new syntax once it's ready :)

[2020-06-18 18:42] dwhdai commented on #6
If you guys are still interested in this, this vignette was helpful in demonstrating how with_golem_options() can be used for both your UI and server modules.

https://cran.r-project.org/web/packages/golem/vignettes/c_deploy.html

[2020-06-19 19:07] robertoromor opened #456 "Docker image rebuild time"
I dont know if this is a fundamental issue of combining shiny, package building and docker but it takes a lot of time rebuilding and I want to know if I am doing something wrong in my dockerfile, maybe the ordering of the  docker commands.
It is taking a lot of time to add small features and see them implemented in the deployed app because if docker image rebuild times, do you guys know a workarou

[2020-06-19 19:31] VincentGuyader commented on #456
Hi,

it's look likes a cache issue with your docker, once you did one compilation you dont need to restart from the beginning.

you may need to use 2 Docker file the first like this :

[code]

then you create an image with `docker built . -t baseimage`

and another Dockerfile with

[code]

does it make sens for you ?

regards

[2020-06-19 19:49] robertoromor commented on #456
Yes, I will try doing that. Thanks

[2020-06-23 18:32] KoderKow opened #458 "Most convenient place to read in data from Azure Data Lake?"
Hello!

We currently have an Azure Data Lake set up that has csv files in it that we will read into golem. I have searched multiple sources but could not find the best approach for this. I want to be able to use the data in both the UI and Server. I think there are a few ways to achieve this, but I would like to discuss which (if any) are ideal.

I feel like reading in all of the data into the ser

[2020-06-25 02:24] aftoncoombs commented on #434
I'm currently working around this issue too. The suggestion in [r-hub/sysreqsdb#77](https://github.com/r-hub/sysreqsdb/issues/77) to use the `cran:libgit2` or `cran:travis` PPA doesn't work, as it returns a 404.

[2020-06-29 14:50] artpulsion opened #460 "Interface Golem and ShinyManager"
Hi ThinkR,

Thanks a lot for this wonderful framework, since I use it I really see Shiny app development as a solid manner of creating useful and robust interface.

I would love to know if there is any documentation about interfacing golem structure and shinymanager which is a package I use frequently to secure my app. The shinymanager workflow proposed on their github works well with a Ui.R / Ser